


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Senegal stärker variieren
als für Kambodscha.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad23{,}04\quad14{,}68\quad12{,}46\quad22{,}48\quad21{,}48\\
\textrm{Kambodscha}
&amp;:\quad24{,}25\quad24{,}26\quad16{,}57\quad19{,}42\quad22{,}79\quad15{,}74
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
