


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagswerte in Turkana weniger
konstant sind (stärker streuen) als in Narok.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad11{,}3\quad22\quad14{,}4\quad21\quad31{,}9\quad18{,}9\\
\textrm{Narok}
&amp;:\quad19{,}8\quad22{,}6\quad25{,}7\quad26{,}8\quad22{,}5
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
5% für ein falsch-positives Ergebnis.</p>
