


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Nandi und Bomet
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad19{,}68\quad17{,}66\quad25{,}91\quad28{,}76\quad25{,}51\quad18{,}7\quad23{,}96\\
\textrm{Bomet}
&amp;:\quad18{,}12\quad15{,}92\quad24{,}7\quad26{,}15\quad16{,}25\quad21{,}15
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
10% für ein falsch-positives Ergebnis.</p>
