


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Honduras stärker
variieren als für Malawi.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad11{,}4\quad9{,}41\quad11{,}6\quad16{,}29\quad12{,}44\quad10{,}78\\
\textrm{Malawi}
&amp;:\quad11{,}44\quad15{,}12\quad15{,}51\quad11{,}42\quad13{,}62\quad14{,}35\quad9{,}9
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
