


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Verteilung der Umschlagzahlen pro Schiff
in Algeciras eine größere Varianz aufweist als in La Spezia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras} &amp;:\quad930\quad1055\quad1111\quad1906\quad1653\\
\textrm{La Spezia}
&amp;:\quad786\quad212\quad1254\quad1380\quad906\quad986\quad1022
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
