


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Malawi weniger konstant
sind (stärker streuen) als für Guatemala.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad13{,}23\quad10{,}34\quad13\quad8{,}44\quad14{,}58\quad11{,}34\\
\textrm{Guatemala}
&amp;:\quad11{,}74\quad11{,}18\quad12{,}94\quad11{,}37\quad13{,}66\quad10{,}36\quad14{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 5%.</p>
