


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Zeiten zwischen An-
und Ablegen in Tanger eine größere Varianz aufweist als in Valencia.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad19\quad13{,}3\quad19{,}7\quad18{,}2\quad14{,}4\quad26{,}3\\
\textrm{Valencia}
&amp;:\quad19{,}1\quad22{,}1\quad15{,}5\quad17{,}8\quad17{,}3\quad19{,}3
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
