


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Nandi weniger
variiert als in West Pokot.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad21{,}6\quad19{,}9\quad22\quad21{,}9\quad23{,}8\quad25\\
\textrm{West Pokot}
&amp;:\quad20{,}5\quad25{,}9\quad21\quad16{,}4\quad20\quad20{,}3
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
