


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jordanien
und Malawi unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jordanien}
&amp;:\quad18{,}29\quad21{,}5\quad18{,}93\quad20{,}69\quad18{,}23\quad19{,}77\quad17{,}17\\
\textrm{Malawi}
&amp;:\quad19{,}77\quad17{,}85\quad19{,}14\quad21{,}05\quad19{,}43\quad21{,}62
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
