


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es besteht die Vermutung, dass die Zeiten zwischen An- und Ablegen in
Valencia weniger variiert als in Ashdod.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad23{,}2\quad18{,}1\quad15{,}2\quad14{,}1\quad16{,}5\quad19{,}9\\
\textrm{Ashdod}
&amp;:\quad19{,}8\quad12{,}4\quad16\quad29{,}8\quad6\quad13\quad21{,}9
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
