


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der
Niederschlagswerte in Elgeyo-Marakwet und Turkana unterschiedliche
Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad23{,}7\quad21{,}7\quad29{,}5\quad29{,}3\quad28\quad25{,}9\\
\textrm{Turkana}
&amp;:\quad25{,}8\quad26\quad22{,}8\quad31{,}2\quad30{,}5\quad21{,}6\quad28
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
