


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Laikipia
weniger konstant sind (stärker streuen) als in Nandi.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad17{,}2\quad20{,}8\quad15{,}9\quad22{,}1\quad19{,}9\\
\textrm{Nandi}
&amp;:\quad17{,}7\quad20{,}6\quad20{,}6\quad23{,}4\quad21\quad20{,}9\quad15{,}8
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
