


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in West
Pokot und Narok unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad15{,}1\quad15{,}8\quad23\quad20\quad14{,}5\quad14{,}5\quad23{,}3\\
\textrm{Narok}
&amp;:\quad19{,}2\quad7{,}8\quad16{,}3\quad17{,}1\quad17{,}8\quad11{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
