


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Anzahl der
umgeladenen Container pro Schiff in Marsaxlokk eine größere Varianz
aufweist als in Barcelona.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad1029\quad1113\quad737\quad1042\quad1041\quad1224\\
\textrm{Barcelona}
&amp;:\quad1089\quad1045\quad977\quad839\quad1088\quad954
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
