


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilung der Umschlagzahlen pro Schiff in
Valencia eine größere Varianz aufweist als in Marsaxlokk.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad941\quad920\quad1141\quad518\quad1117\quad543\quad1224\\
\textrm{Marsaxlokk} &amp;:\quad917\quad931\quad939\quad351\quad577
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
