


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Ertragsmengen in Nandi und Samburu
unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad15{,}93\quad19{,}88\quad11{,}77\quad15{,}75\quad20{,}64\quad14{,}5\quad20{,}63\\
\textrm{Samburu}
&amp;:\quad12{,}56\quad14{,}99\quad14{,}76\quad17{,}16\quad13{,}22\quad11{,}48
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
