


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Niederschlagswerte in
Elgeyo-Marakwet eine kleinere Varianz aufweist als in Laikipia.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad22{,}1\quad27{,}7\quad28{,}2\quad21{,}9\quad19{,}8\quad24{,}8\quad19{,}6\\
\textrm{Laikipia}
&amp;:\quad27{,}7\quad15{,}5\quad24{,}3\quad24{,}8\quad13{,}1\quad32{,}1
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
