


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Ertragswerte in Baringo und Nandi
unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad19{,}42\quad21{,}98\quad18{,}41\quad16{,}94\quad18{,}15\quad19{,}27\quad16{,}18\\
\textrm{Nandi}
&amp;:\quad14{,}02\quad19{,}49\quad17{,}93\quad12{,}81\quad15{,}94\quad24{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 10% ist dabei akzeptabel.</p>
