


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Erträge in Laikipia eine
kleinere Varianz aufweist als in Samburu.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragsmengen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad23{,}04\quad19{,}9\quad24{,}93\quad20{,}84\quad16{,}52\quad21{,}55\\
\textrm{Samburu}
&amp;:\quad20{,}4\quad25{,}74\quad27{,}34\quad18{,}64\quad24{,}56
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
