


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Kambodscha stärker
variieren als für Burkina Faso.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad17{,}52\quad16{,}55\quad20{,}6\quad14{,}65\quad16{,}24\quad15{,}55\\
\textrm{Burkina Faso}
&amp;:\quad17{,}44\quad20{,}78\quad16{,}05\quad16{,}83\quad18{,}9\quad18{,}29\quad14{,}52
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
