


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in Barcelona und Tanger
unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Barcelona}
&amp;:\quad12{,}5\quad21{,}2\quad20{,}7\quad8{,}1\quad28{,}1\quad14{,}9\\
\textrm{Tanger}
&amp;:\quad25{,}9\quad20{,}3\quad22{,}9\quad17\quad13{,}2\quad18{,}5
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 10% auftreten.</p>
