


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Uasin Gishu und Turkana unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad22{,}6\quad9{,}3\quad23{,}1\quad19{,}6\quad15{,}3\quad23{,}9\\
\textrm{Turkana}
&amp;:\quad21{,}9\quad18{,}7\quad17{,}2\quad21{,}7\quad22{,}9
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
