


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Ertragswerte in Samburu und Kajiado
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad16{,}01\quad22{,}31\quad20\quad17{,}77\quad13{,}65\quad9{,}45\\
\textrm{Kajiado}
&amp;:\quad15{,}47\quad14{,}44\quad18{,}79\quad15{,}28\quad15{,}48
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
