


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Kajiado konstanter
sind (weniger streuen) als in Kericho.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad23{,}96\quad14{,}2\quad16{,}97\quad9{,}19\quad12{,}76\quad16{,}03\quad18{,}34\\
\textrm{Kericho}
&amp;:\quad10{,}44\quad15{,}02\quad18{,}84\quad17{,}45\quad27{,}37\quad16{,}61
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
