


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Liefervolumina
für Malawi eine größere Varianz aufweist als für Jordanien.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad18{,}68\quad10{,}49\quad7{,}13\quad9{,}35\quad7{,}57\quad7{,}01\\
\textrm{Jordanien}
&amp;:\quad2{,}18\quad5{,}43\quad8{,}86\quad13{,}24\quad4{,}34\quad10{,}55\quad8{,}98
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
