


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Kajiado stärker variieren als in Kericho.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad24{,}3\quad21{,}5\quad33{,}4\quad20{,}5\quad16{,}7\quad20{,}2\\
\textrm{Kericho}
&amp;:\quad19{,}5\quad26\quad24{,}1\quad19{,}3\quad23{,}7\quad18{,}8
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
