


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Verteilungen der Umschlagzahlen je Schiff in
Haifa und İstanbul unterschiedliche Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad1243\quad1358\quad382\quad1062\quad1039\quad1133\\
\textrm{İstanbul}
&amp;:\quad345\quad1039\quad1122\quad728\quad1160\quad755\quad737
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
