


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen je Schiff in Ashdod
und Valencia unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Anzahl der umgeladenen Container pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad868\quad1315\quad1204\quad845\quad997\quad1218\quad1195\\
\textrm{Valencia} &amp;:\quad1200\quad987\quad476\quad1239\quad551
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 10% ist dabei akzeptabel.</p>
