


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der Zeiten
zwischen An- und Ablegen in Tanger und Port Said unterschiedliche
Varianzen aufweisen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad20{,}9\quad18{,}1\quad14\quad8{,}1\quad20{,}3\\
\textrm{Port Said}
&amp;:\quad30{,}6\quad20{,}3\quad15{,}6\quad12{,}4\quad18{,}9\quad23{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
