


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Niederschlagswerte in Narok stärker variieren
als in Nandi.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad23{,}9\quad18{,}4\quad14{,}2\quad17{,}9\quad15{,}8\quad20{,}6\\
\textrm{Nandi}
&amp;:\quad16{,}4\quad23{,}2\quad22{,}4\quad19{,}6\quad17{,}3\quad22
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
