


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Zeiten zwischen An-
und Ablegen in İstanbul und Koper unterschiedlich stark gestreut
sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul}
&amp;:\quad16{,}5\quad25{,}9\quad14{,}4\quad25{,}5\quad11{,}6\\
\textrm{Koper}
&amp;:\quad19{,}7\quad28{,}6\quad23\quad24{,}3\quad19\quad21{,}4\quad21{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
