


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragswerte in Narok und
Nandi unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad17{,}17\quad22{,}2\quad25{,}24\quad18{,}09\quad22{,}29\\
\textrm{Nandi}
&amp;:\quad17{,}89\quad18{,}3\quad12{,}97\quad17{,}44\quad25{,}19\quad19{,}49
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 10% für ein
falsch-positives Ergebnis.</p>
