


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Tunesien und Kambodscha unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad12{,}14\quad16{,}26\quad15{,}22\quad19{,}95\quad17{,}53\quad16{,}46\\
\textrm{Kambodscha}
&amp;:\quad22{,}29\quad14{,}12\quad14{,}34\quad13{,}48\quad22{,}56\quad15{,}4\quad12{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
