


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
İstanbul weniger konstant sind (stärker streuen) als in La Spezia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul} &amp;:\quad1274\quad768\quad1712\quad1172\quad1235\\
\textrm{La Spezia}
&amp;:\quad634\quad948\quad980\quad913\quad976\quad645\quad1319
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
5% ist dabei akzeptabel.</p>
