


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Kajiado konstanter
sind (weniger streuen) als in Baringo.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad21{,}8\quad23{,}6\quad21{,}8\quad30{,}1\quad24{,}5\\
\textrm{Baringo}
&amp;:\quad31{,}1\quad31{,}9\quad19{,}6\quad18{,}3\quad24{,}3\quad21
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
