


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Liefervolumina für Jemen und Aserbaidschan unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad20{,}36\quad18{,}27\quad16{,}68\quad21{,}41\quad17{,}68\quad23{,}33\quad20{,}14\\
\textrm{Aserbaidschan}
&amp;:\quad19{,}31\quad17{,}81\quad19{,}43\quad22{,}1\quad21{,}43
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
10% ist dabei akzeptabel.</p>
