


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragswerte in West Pokot
weniger variiert als in Kajiado.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad19{,}04\quad13{,}64\quad24{,}38\quad19{,}69\quad12{,}7\\
\textrm{Kajiado}
&amp;:\quad26{,}77\quad17{,}18\quad29{,}04\quad17{,}53\quad23{,}33\quad22{,}3\quad10{,}38
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
