


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Containerzahlen je Schiff in
Damiette und La Spezia unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad922\quad1041\quad1052\quad1605\quad1231\quad1258\\
\textrm{La Spezia} &amp;:\quad563\quad1140\quad818\quad710\quad1328
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
