


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Sie vermuten, dass die Verteilungen der Ertragsmengen in Uasin Gishu
und Turkana unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad24{,}53\quad24{,}94\quad17{,}67\quad24{,}1\quad19{,}98\quad20{,}7\\
\textrm{Turkana}
&amp;:\quad22{,}37\quad19{,}39\quad21{,}45\quad25{,}53\quad19{,}65\quad20{,}65
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 10%
auftreten.</p>
