


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Verteilung der Lieferungsmengen für
Senegal eine kleinere Varianz aufweist als für Aserbaidschan.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad11{,}7\quad19{,}28\quad8{,}34\quad13{,}86\quad12{,}31\quad8{,}13\\
\textrm{Aserbaidschan}
&amp;:\quad12{,}72\quad13{,}7\quad16{,}99\quad5{,}59\quad18{,}06\quad15{,}9\quad8{,}06
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
