


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilungen der Containerzahlen je Schiff in
Gioia Tauro und Barcelona unterschiedliche Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad1356\quad912\quad601\quad205\quad1029\quad774\\
\textrm{Barcelona} &amp;:\quad821\quad1275\quad1061\quad859\quad377
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 10%.</p>
