


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Ertragsmengen in Nandi weniger variiert
als in Kajiado.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad14{,}04\quad18{,}95\quad20{,}37\quad19{,}33\quad15{,}6\\
\textrm{Kajiado}
&amp;:\quad17{,}32\quad16{,}52\quad24{,}98\quad16{,}18\quad25{,}88\quad19{,}79
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
