


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Liefervolumina für Honduras konstanter sind
(weniger streuen) als für Aserbaidschan.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad12{,}86\quad12{,}59\quad10{,}81\quad14{,}15\quad9{,}17\\
\textrm{Aserbaidschan}
&amp;:\quad13{,}44\quad12{,}98\quad8{,}66\quad12{,}36\quad17{,}16\quad12{,}61
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 5% ist dabei
akzeptabel.</p>
