


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der
Lieferungsmengen für Tunesien und Malawi unterschiedliche Varianzen
aufweisen.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad8{,}07\quad10{,}73\quad12{,}01\quad4{,}37\quad8{,}75\quad21{,}45\\
\textrm{Malawi}
&amp;:\quad16{,}86\quad9{,}47\quad0{,}44\quad18{,}92\quad9{,}97\quad10{,}96\quad7{,}67
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
10% ist dabei akzeptabel.</p>
