


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Verteilung der Liefervolumina für Honduras
eine kleinere Varianz aufweist als für Tunesien.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad13{,}67\quad4{,}77\quad16{,}62\quad26{,}68\quad12{,}8\quad13{,}33\quad18{,}25\\
\textrm{Tunesien}
&amp;:\quad5{,}65\quad15{,}12\quad11{,}57\quad3{,}96\quad3{,}3\quad28{,}92
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
