


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Zimbabwe und Nepal
unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad24{,}92\quad9{,}23\quad7{,}99\quad14{,}14\quad13{,}12\\
\textrm{Nepal}
&amp;:\quad17{,}58\quad10{,}37\quad12{,}93\quad16{,}85\quad13{,}27\quad18{,}06
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
