


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen je Schiff in Tanger weniger
konstant sind (stärker streuen) als in Port Said.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger} &amp;:\quad1431\quad1182\quad582\quad537\quad991\\
\textrm{Port Said}
&amp;:\quad858\quad1358\quad1213\quad467\quad982\quad1454
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
