


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in Trans-Nzoia konstanter
sind (weniger streuen) als in Nandi.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad12{,}9\quad19{,}3\quad21{,}6\quad14{,}2\quad21\\
\textrm{Nandi}
&amp;:\quad13{,}9\quad17\quad26{,}3\quad22{,}6\quad23{,}8\quad21{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 5%.</p>
