


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Umschlagzahlen je Schiff in İzmir stärker
variieren als in Valencia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Anzahl der umgeladenen
Container pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir}
&amp;:\quad1044\quad171\quad1023\quad1566\quad964\quad776\\
\textrm{Valencia} &amp;:\quad1100\quad899\quad1117\quad827\quad838
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
