


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Lieferungsmengen
für Papua-Neuguinea eine größere Varianz aufweist als für
Kambodscha.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad20{,}41\quad20{,}53\quad20{,}46\quad22{,}48\quad18{,}97\quad20{,}29\quad8{,}59\\
\textrm{Kambodscha}
&amp;:\quad22{,}92\quad22{,}07\quad22{,}2\quad12{,}97\quad24{,}23
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
