


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in
İstanbul weniger variiert als in La Spezia.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul}
&amp;:\quad24{,}9\quad25{,}5\quad22{,}3\quad17{,}9\quad22{,}5\quad32{,}4\quad15{,}6\\
\textrm{La Spezia}
&amp;:\quad16{,}3\quad20{,}1\quad31{,}4\quad24{,}3\quad14{,}8\quad22
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
