


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Containerzahlen je Schiff in Damiette
stärker variieren als in İzmir.</p>
<p>Sie messen die folgenden Anzahl der umgeladenen Container pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad239\quad1431\quad702\quad602\quad1065\quad1121\\
\textrm{İzmir} &amp;:\quad1301\quad878\quad411\quad1417\quad1082
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
