


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Zimbabwe und
Jemen unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad17{,}14\quad11{,}65\quad12{,}78\quad16{,}48\quad16{,}98\\
\textrm{Jemen}
&amp;:\quad15{,}33\quad3{,}84\quad10{,}61\quad10{,}68\quad14{,}39\quad7{,}22
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
