


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Umschlagzahlen pro Schiff in Marsaxlokk und
Port Said unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad1121\quad836\quad905\quad942\quad1141\quad581\quad1396\\
\textrm{Port Said}
&amp;:\quad1027\quad1608\quad1227\quad1111\quad1073\quad1437
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
