


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Niederschlagswerte in Uasin Gishu und Nakuru unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad21{,}2\quad6{,}6\quad11{,}8\quad21{,}9\quad13{,}4\quad12{,}7\\
\textrm{Nakuru}
&amp;:\quad15{,}6\quad23{,}1\quad26{,}1\quad19{,}6\quad17{,}2\quad19{,}4\quad22{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
