


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Niederschlagswerte in Turkana eine kleinere Varianz aufweist als in
Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad16\quad25{,}8\quad30{,}5\quad19{,}5\quad22{,}3\quad23{,}7\\
\textrm{Laikipia}
&amp;:\quad17{,}1\quad23{,}2\quad20{,}3\quad12{,}3\quad32{,}4\quad26{,}4\quad31{,}7
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
