


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Ertragsmengen in
Narok und Turkana unterschiedliche Varianzen aufweisen.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad21{,}94\quad22{,}22\quad21{,}11\quad19{,}63\quad27{,}86\quad16{,}4\quad19{,}05\\
\textrm{Turkana}
&amp;:\quad24{,}23\quad19{,}17\quad22{,}42\quad24{,}29\quad21{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 10%
auftreten.</p>
