


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Erträge in Samburu eine
größere Varianz aufweist als in West Pokot.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragswerte (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad19{,}17\quad22{,}93\quad16{,}77\quad16{,}97\quad9{,}11\quad27{,}86\\
\textrm{West Pokot}
&amp;:\quad23{,}84\quad15{,}74\quad17{,}34\quad19{,}1\quad30{,}21
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
