


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Uasin Gishu und Kericho unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad15{,}53\quad23{,}66\quad14{,}45\quad18{,}96\quad18{,}25\\
\textrm{Kericho}
&amp;:\quad31{,}24\quad17{,}58\quad13{,}79\quad19{,}14\quad17{,}07\quad24{,}46\quad17{,}48
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 10% auftreten.</p>
