


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in Marsaxlokk weniger
konstant sind (stärker streuen) als in Marseille.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liegezeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad25{,}7\quad27{,}8\quad19{,}7\quad16{,}5\quad13{,}7\quad15{,}5\quad17{,}8\\
\textrm{Marseille}
&amp;:\quad18{,}4\quad17{,}4\quad9{,}6\quad18{,}1\quad14{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
