


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Niederschlagswerte in Narok
eine kleinere Varianz aufweist als in Samburu.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad16{,}8\quad22{,}1\quad25{,}6\quad29\quad31{,}1\quad28{,}1\\
\textrm{Samburu}
&amp;:\quad17{,}5\quad23{,}9\quad17{,}8\quad24{,}9\quad12{,}7\quad20{,}7\quad29{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
