


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Erträge in Bomet
weniger variiert als in Trans-Nzoia.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad24\quad23{,}28\quad21{,}24\quad14{,}58\quad19{,}99\quad16{,}03\\
\textrm{Trans-Nzoia}
&amp;:\quad13{,}67\quad18{,}79\quad25{,}95\quad24{,}58\quad23{,}99\quad15{,}27\quad14{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Alphafehler von 5% ist dabei
akzeptabel.</p>
