


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Ertragsmengen in Turkana weniger variiert
als in Elgeyo-Marakwet.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad16{,}32\quad14{,}15\quad13{,}33\quad15{,}25\quad20{,}33\quad16{,}96\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad16{,}77\quad17{,}62\quad12{,}08\quad21{,}35\quad14{,}82
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
