


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in Barcelona und Mersin
unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Barcelona}
&amp;:\quad27{,}3\quad10{,}1\quad18\quad21{,}3\quad19{,}6\quad19{,}5\quad13{,}5\\
\textrm{Mersin}
&amp;:\quad13{,}4\quad19\quad19{,}2\quad18{,}7\quad20{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
10% für ein falsch-positives Ergebnis.</p>
