


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Turkana stärker
variieren als in Bomet.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad15{,}5\quad14{,}9\quad12{,}8\quad16{,}3\quad20{,}8\\
\textrm{Bomet}
&amp;:\quad18{,}8\quad21{,}4\quad14{,}2\quad17{,}3\quad15{,}2\quad17{,}7\quad14{,}1
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
