


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Containerzahlen
je Schiff in Piräus und Marseille unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus}
&amp;:\quad1064\quad744\quad910\quad887\quad726\quad1020\\
\textrm{Marseille}
&amp;:\quad1030\quad942\quad1331\quad734\quad836\quad1234
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
