


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Syrien und Aserbaidschan unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad7{,}24\quad14{,}46\quad9{,}95\quad8{,}54\quad9{,}82\quad11{,}04\\
\textrm{Aserbaidschan}
&amp;:\quad12{,}49\quad10{,}45\quad5{,}2\quad14{,}02\quad11{,}63\quad9{,}78\quad4{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 10%.</p>
