


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Nakuru
weniger variiert als in Elgeyo-Marakwet.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad26\quad26{,}5\quad26{,}4\quad24{,}3\quad24{,}2\quad24{,}9\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad27{,}3\quad24{,}7\quad22{,}6\quad29{,}5\quad29{,}2\quad25{,}5\quad19
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 5% ist
dabei akzeptabel.</p>
