


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Containerzahlen je Schiff in La
Spezia konstanter sind (weniger streuen) als in Gioia Tauro.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad1023\quad1567\quad904\quad610\quad1039\quad949\\
\textrm{Gioia Tauro}
&amp;:\quad415\quad571\quad865\quad1062\quad1023\quad1373\quad561
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
