


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Anzahl der
umgeladenen Container pro Schiff in Barcelona und La Spezia
unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Barcelona}
&amp;:\quad1073\quad1212\quad1436\quad1130\quad1256\quad1522\\
\textrm{La Spezia}
&amp;:\quad804\quad1115\quad1228\quad1285\quad1137\quad1677\quad879
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
