


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Honduras konstanter sind
(weniger streuen) als für Nepal.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad13{,}46\quad6{,}05\quad1{,}51\quad7{,}21\quad5{,}5\\
\textrm{Nepal}
&amp;:\quad7{,}41\quad9{,}88\quad8{,}12\quad3{,}89\quad2{,}56\quad4{,}66\quad24{,}7
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
