


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Trans-Nzoia stärker variieren als in Nakuru.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad24{,}7\quad28{,}8\quad23\quad19{,}6\quad29{,}6\quad19{,}5\quad24\\
\textrm{Nakuru}
&amp;:\quad13{,}7\quad20{,}6\quad18{,}7\quad20{,}1\quad23{,}1
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
