


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen pro Schiff in
İstanbul weniger variiert als in Ashdod.</p>
<p>Sie messen die folgenden Anzahl der umgeladenen Container pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul}
&amp;:\quad874\quad1197\quad981\quad1615\quad480\quad830\\
\textrm{Ashdod}
&amp;:\quad1689\quad1791\quad1673\quad944\quad946\quad1096\quad545
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 5%.</p>
