


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Lieferungsmengen für Nepal und Zimbabwe unterschiedliche Varianzen
aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nepal}
&amp;:\quad11{,}29\quad11{,}66\quad12{,}28\quad11{,}02\quad17{,}7\quad16{,}99\\
\textrm{Zimbabwe}
&amp;:\quad14{,}59\quad17{,}49\quad15{,}1\quad10{,}18\quad13{,}15
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
