


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Ertragsmengen in Nandi stärker variieren
als in Laikipia.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad15{,}09\quad18{,}84\quad24{,}51\quad22{,}19\quad20{,}38\quad21{,}04\\
\textrm{Laikipia}
&amp;:\quad15{,}45\quad19{,}87\quad21{,}84\quad21{,}31\quad19{,}45
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
