


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Anzahl der
umgeladenen Container pro Schiff in Haifa stärker variieren als in
Koper.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad738\quad1090\quad899\quad982\quad1505\quad1027\\
\textrm{Koper}
&amp;:\quad1126\quad1157\quad921\quad1086\quad1039\quad1195
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
