


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Erträge in Narok
weniger variiert als in Nakuru.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad5{,}68\quad16{,}86\quad22{,}04\quad26{,}26\quad19{,}04\quad16{,}5\\
\textrm{Nakuru}
&amp;:\quad23{,}79\quad32{,}46\quad23{,}5\quad17{,}3\quad23{,}69\quad13{,}96\quad7{,}56
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
