


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Narok weniger
variiert als in Kericho.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad24{,}7\quad22{,}5\quad13{,}9\quad23{,}9\quad26{,}2\quad21{,}1\quad23{,}5\\
\textrm{Kericho}
&amp;:\quad23{,}2\quad19{,}6\quad26{,}9\quad24{,}2\quad15{,}6
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein Signifikanzniveau von 5%.</p>
