


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Abfertigungszeiten in Ashdod stärker
variieren als in Marseille.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad33{,}4\quad17{,}6\quad24{,}6\quad7{,}5\quad12{,}6\quad28{,}5\\
\textrm{Marseille}
&amp;:\quad22{,}8\quad16{,}9\quad22{,}4\quad16{,}1\quad20{,}9\quad21{,}8\quad14{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
