


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in Narok und
Elgeyo-Marakwet unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad18{,}9\quad17{,}3\quad13{,}7\quad21{,}9\quad20{,}5\quad22{,}6\quad25{,}8\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad14{,}4\quad10{,}9\quad20{,}7\quad23{,}8\quad26{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
