


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragswerte in Baringo eine kleinere Varianz aufweist als in
Turkana.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad22{,}04\quad12{,}53\quad18{,}92\quad17{,}03\quad19{,}71\\
\textrm{Turkana}
&amp;:\quad11{,}68\quad21{,}22\quad20{,}56\quad20{,}98\quad21{,}96\quad20{,}72
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
