


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Lieferungsmengen für Jemen eine größere Varianz aufweist als für
Guatemala.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad16{,}15\quad17{,}5\quad16{,}88\quad24{,}49\quad16{,}69\quad18{,}28\\
\textrm{Guatemala}
&amp;:\quad18{,}87\quad19{,}94\quad15{,}42\quad11{,}75\quad13{,}35\quad16{,}32\quad15{,}29
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
