


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Erträge in Narok
stärker variieren als in Nakuru.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad25{,}49\quad29{,}86\quad19{,}66\quad20{,}07\quad24{,}34\\
\textrm{Nakuru}
&amp;:\quad20{,}32\quad21{,}53\quad21{,}92\quad24{,}02\quad21{,}13\quad22{,}65
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
