


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Containerzahlen je Schiff in Genua und Ashdod
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad904\quad864\quad1282\quad719\quad755\quad1619\quad980\\
\textrm{Ashdod} &amp;:\quad800\quad895\quad1689\quad487\quad859\quad433
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
