


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Containerzahlen je
Schiff in Alexandria eine größere Varianz aufweist als in Port Said.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad1331\quad1145\quad1156\quad1463\quad789\quad1330\quad1312\\
\textrm{Port Said} &amp;:\quad919\quad1061\quad910\quad1031\quad1062
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
