


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Malawi
weniger konstant sind (stärker streuen) als für Nepal.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad13{,}24\quad23{,}95\quad10{,}27\quad11{,}05\quad17{,}02\quad17{,}88\\
\textrm{Nepal}
&amp;:\quad19{,}94\quad12{,}17\quad17{,}14\quad19{,}06\quad21{,}26\quad15{,}59\quad15{,}25
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 5% auftreten.</p>
