


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in Kericho weniger
konstant sind (stärker streuen) als in Trans-Nzoia.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad22{,}9\quad25{,}4\quad22{,}8\quad17\quad17{,}6\quad18\\
\textrm{Trans-Nzoia}
&amp;:\quad23{,}2\quad24{,}5\quad18{,}5\quad23{,}6\quad20{,}3\quad22{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
