


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Umschlagzahlen
je Schiff in Damiette eine kleinere Varianz aufweist als in Piräus.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad1142\quad1128\quad1145\quad1078\quad1192\quad1099\\
\textrm{Piräus}
&amp;:\quad1023\quad984\quad1107\quad1374\quad1176\quad1382\quad951
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
