


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Zimbabwe stärker
variieren als für Kambodscha.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad10{,}55\quad16{,}67\quad16{,}01\quad8{,}98\quad14{,}74\quad18{,}34\\
\textrm{Kambodscha}
&amp;:\quad18{,}28\quad16{,}39\quad14{,}15\quad15{,}65\quad14{,}08\quad17{,}31\quad9{,}82
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
