


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der
Niederschlagsmengen in Narok und Elgeyo-Marakwet unterschiedliche
Varianzen aufweisen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad24{,}9\quad22{,}3\quad18{,}6\quad20{,}2\quad20{,}5\quad15{,}9\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}9\quad14{,}8\quad13{,}3\quad15{,}4\quad20{,}3\quad12{,}8\quad19{,}6
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
