


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Ertragsmengen in Samburu und Kericho
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad23{,}77\quad14{,}83\quad21{,}37\quad17{,}14\quad22{,}19\quad21{,}86\\
\textrm{Kericho}
&amp;:\quad19{,}2\quad16{,}76\quad25{,}24\quad16{,}38\quad27{,}44\quad27{,}55\quad15{,}15
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
