


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Ertragsmengen in Baringo stärker
variieren als in Turkana.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad18{,}82\quad13{,}01\quad22{,}75\quad30{,}83\quad24{,}95\quad14{,}25\\
\textrm{Turkana}
&amp;:\quad25{,}21\quad14{,}73\quad20{,}8\quad22{,}07\quad20{,}91\quad19{,}06\quad15{,}73
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
