


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Liegezeiten in Alexandria und Genua
unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad13{,}7\quad15{,}7\quad19{,}4\quad21{,}9\quad18\quad29{,}9\\
\textrm{Genua}
&amp;:\quad17{,}7\quad18{,}9\quad19{,}1\quad17{,}9\quad25{,}8\quad21
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 10% für ein
falsch-positives Ergebnis.</p>
