


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Liegezeiten in Marsaxlokk
stärker variieren als in Damiette.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad23\quad12\quad10{,}9\quad21{,}8\quad13{,}9\quad17{,}3\\
\textrm{Damiette}
&amp;:\quad13{,}9\quad21\quad18{,}3\quad16{,}2\quad11{,}4
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
