


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Verteilung der Niederschlagswerte in
Elgeyo-Marakwet eine größere Varianz aufweist als in Bomet.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad22{,}7\quad14{,}9\quad15{,}3\quad18{,}1\quad17{,}2\quad20{,}4\\
\textrm{Bomet}
&amp;:\quad17\quad18{,}6\quad19{,}9\quad19\quad16\quad21{,}7\quad13{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
