


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Umschlagzahlen je
Schiff in Alexandria eine kleinere Varianz aufweist als in Gioia
Tauro.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad949\quad1042\quad972\quad812\quad541\quad1403\\
\textrm{Gioia Tauro}
&amp;:\quad1109\quad1158\quad1544\quad836\quad763\quad181
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
