


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in
Marsaxlokk konstanter sind (weniger streuen) als in La Spezia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad19{,}2\quad11{,}1\quad20{,}8\quad16{,}9\quad26\quad21{,}3\\
\textrm{La Spezia}
&amp;:\quad19{,}3\quad36{,}9\quad23\quad24{,}2\quad15{,}9
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
