


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Zeiten zwischen
An- und Ablegen in La Spezia eine größere Varianz aufweist als in Port
Said.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad25{,}8\quad11{,}1\quad26{,}4\quad20{,}6\quad19{,}3\quad25{,}3\quad22{,}6\\
\textrm{Port Said}
&amp;:\quad21{,}2\quad14{,}9\quad18{,}9\quad19{,}8\quad13{,}8\quad22{,}9
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
