


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Containerzahlen je Schiff in
Marseille und Genua unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Containerzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille} &amp;:\quad1235\quad985\quad1263\quad377\quad542\\
\textrm{Genua} &amp;:\quad225\quad1371\quad695\quad898\quad493\quad617
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 10% ist dabei
akzeptabel.</p>
