


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Abfertigungszeiten in Marsaxlokk eine kleinere Varianz aufweist als in
Marseille.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad25{,}4\quad17{,}2\quad11\quad21{,}3\quad14{,}8\quad26{,}7\\
\textrm{Marseille}
&amp;:\quad22{,}3\quad28{,}2\quad14{,}6\quad23{,}7\quad30\quad11{,}3\quad21{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 5%.</p>
