


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Niederschlagsmengen
in West Pokot eine kleinere Varianz aufweist als in Elgeyo-Marakwet.</p>
<p>Sie messen die folgenden Niederschlagsmengen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad23{,}3\quad25{,}5\quad23{,}7\quad25{,}4\quad22{,}3\quad18{,}8\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}3\quad22{,}2\quad21\quad29{,}4\quad22{,}6
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
