


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Umschlagzahlen pro
Schiff in Ashdod eine größere Varianz aufweist als in Port Said.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad955\quad849\quad1073\quad612\quad1007\quad1131\\
\textrm{Port Said}
&amp;:\quad998\quad1185\quad1066\quad900\quad915\quad1014\quad958
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
