


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen je Schiff in
Alexandria und Port Said unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria} &amp;:\quad750\quad565\quad910\quad1359\quad1112\\
\textrm{Port Said}
&amp;:\quad1061\quad555\quad829\quad1017\quad464\quad888\quad739
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 10%.</p>
