


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der Zeiten
zwischen An- und Ablegen in Damiette und Mersin unterschiedliche
Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad23{,}3\quad20{,}1\quad10{,}2\quad24{,}5\quad14{,}4\\
\textrm{Mersin}
&amp;:\quad17\quad25{,}9\quad24\quad15{,}8\quad19{,}7\quad24{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
