


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
Marseille und Ashdod unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille} &amp;:\quad789\quad1008\quad1035\quad902\quad898\\
\textrm{Ashdod}
&amp;:\quad841\quad606\quad1243\quad1118\quad979\quad1067
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
