


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Anzahl der umgeladenen Container pro
Schiff in İzmir weniger variiert als in Marsaxlokk.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Anzahl der umgeladenen
Container pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir}
&amp;:\quad527\quad695\quad453\quad1119\quad1051\quad610\quad605\\
\textrm{Marsaxlokk} &amp;:\quad1020\quad1596\quad832\quad954\quad951
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
