


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagswerte in Kajiado und Baringo
unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad22{,}3\quad25{,}8\quad16{,}2\quad22{,}5\quad19{,}4\quad23{,}2\\
\textrm{Baringo}
&amp;:\quad24{,}6\quad22{,}5\quad17{,}5\quad18{,}2\quad21{,}7\quad23\quad16{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
