


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Niederschlagswerte
in Trans-Nzoia eine größere Varianz aufweist als in Elgeyo-Marakwet.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad12{,}5\quad17{,}8\quad20{,}5\quad22{,}7\quad21{,}4\quad22{,}1\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}8\quad15{,}6\quad16{,}6\quad21{,}3\quad20{,}2\quad20{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
