


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
Genua weniger konstant sind (stärker streuen) als in Piräus.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Anzahl der umgeladenen
Container pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua} &amp;:\quad835\quad823\quad1075\quad1133\quad1067\\
\textrm{Piräus}
&amp;:\quad990\quad960\quad776\quad983\quad1032\quad1127\quad1103
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
