


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Niederschlagsmengen in
Nakuru eine kleinere Varianz aufweist als in Elgeyo-Marakwet.</p>
<p>Sie messen die folgenden Niederschlagsmengen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad13{,}5\quad18{,}3\quad18{,}9\quad9{,}7\quad19{,}1\quad20{,}1\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad11{,}6\quad23{,}5\quad22{,}7\quad19\quad11{,}5\quad16{,}9\quad24{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 5%.</p>
