


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Laikipia stärker variieren als in Narok.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad17{,}94\quad19{,}26\quad21{,}89\quad22{,}17\quad18{,}27\quad21{,}94\\
\textrm{Narok}
&amp;:\quad21{,}87\quad22{,}52\quad19{,}85\quad23{,}22\quad19{,}71
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein
Signifikanzniveau von 5%.</p>
