


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in Koper weniger variiert
als in Barcelona.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Koper}
&amp;:\quad20{,}9\quad17{,}4\quad17{,}4\quad15{,}7\quad18{,}7\quad15{,}7\\
\textrm{Barcelona}
&amp;:\quad15{,}1\quad14{,}5\quad19{,}2\quad21{,}2\quad25{,}4\quad26{,}1\quad13{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 5% ist dabei
akzeptabel.</p>
