


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in
Marsaxlokk konstanter sind (weniger streuen) als in Ashdod.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad18{,}6\quad26{,}3\quad24{,}9\quad25{,}5\quad16{,}8\quad24{,}2\quad14{,}5\\
\textrm{Ashdod}
&amp;:\quad13{,}6\quad23{,}5\quad9{,}1\quad29{,}9\quad17\quad15
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
