


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Lieferungsmengen für Tunesien eine kleinere Varianz aufweist als für
Papua-Neuguinea.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad19{,}99\quad18{,}6\quad19{,}85\quad19{,}99\quad17{,}36\quad13{,}36\\
\textrm{Papua-Neuguinea}
&amp;:\quad13{,}94\quad20{,}03\quad17{,}53\quad16{,}1\quad19{,}09\quad22{,}3\quad21{,}97
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
