


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Liegezeiten in Genua und Ashdod
unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Abfertigungszeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad7\quad24{,}6\quad20{,}2\quad27{,}5\quad24{,}3\\
\textrm{Ashdod}
&amp;:\quad18{,}8\quad25{,}2\quad23{,}1\quad23{,}4\quad25{,}5\quad8{,}2
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 10% ist
dabei akzeptabel.</p>
