


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Guatemala und
Syrien unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad12{,}91\quad7{,}13\quad13{,}8\quad12{,}29\quad17{,}71\\
\textrm{Syrien}
&amp;:\quad15{,}08\quad15{,}6\quad13{,}82\quad15{,}9\quad18{,}03\quad17{,}41
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 10% für ein
falsch-positives Ergebnis.</p>
