


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Anzahl der umgeladenen Container
pro Schiff in Koper und Gioia Tauro unterschiedlich stark gestreut
sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Koper}
&amp;:\quad1736\quad929\quad711\quad1645\quad818\quad1036\quad1500\\
\textrm{Gioia Tauro} &amp;:\quad698\quad553\quad1131\quad928\quad1197
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
