


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liegezeiten in
Gioia Tauro weniger konstant sind (stärker streuen) als in
Marsaxlokk.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad22{,}2\quad16{,}4\quad17{,}7\quad26{,}9\quad24{,}9\\
\textrm{Marsaxlokk}
&amp;:\quad11{,}6\quad19{,}7\quad24{,}2\quad16{,}7\quad15{,}7\quad17{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
