


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Umschlagzahlen je
Schiff in Algeciras und Ashdod unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras} &amp;:\quad737\quad1125\quad861\quad782\quad1103\\
\textrm{Ashdod} &amp;:\quad1243\quad616\quad1223\quad798\quad731\quad680
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 10%
auftreten.</p>
