


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragswerte in Uasin Gishu eine größere Varianz aufweist als in
Samburu.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad12{,}04\quad9{,}9\quad18{,}28\quad8{,}56\quad10{,}81\quad15{,}5\quad18{,}72\\
\textrm{Samburu}
&amp;:\quad20{,}05\quad16{,}73\quad15{,}39\quad12{,}24\quad12{,}85
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
