


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Verteilungen der Liegezeiten in Valencia
und İzmir unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad21{,}6\quad20{,}7\quad12{,}5\quad19{,}4\quad19{,}5\\
\textrm{İzmir}
&amp;:\quad15{,}6\quad10{,}3\quad18{,}8\quad15{,}8\quad13{,}1\quad13{,}4\quad16{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
