


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in La Spezia konstanter
sind (weniger streuen) als in Alexandria.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad12{,}2\quad15{,}4\quad18{,}3\quad21{,}3\quad14{,}1\\
\textrm{Alexandria}
&amp;:\quad25{,}5\quad8{,}9\quad23{,}9\quad11{,}2\quad22{,}2\quad20{,}1
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
