


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Ertragswerte in Kajiado stärker
variieren als in Trans-Nzoia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad24{,}53\quad26{,}92\quad21{,}37\quad23{,}15\quad17{,}17\quad18{,}23\\
\textrm{Trans-Nzoia}
&amp;:\quad20{,}08\quad21{,}53\quad21{,}41\quad15{,}64\quad23{,}67\quad23{,}24
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
