


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Erträge in Narok
und Kericho unterschiedliche Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad19{,}36\quad19{,}43\quad19{,}35\quad18{,}29\quad15{,}05\quad19{,}05\\
\textrm{Kericho}
&amp;:\quad14{,}84\quad17{,}16\quad17{,}72\quad16{,}34\quad23{,}46\quad18{,}03
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
