


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in
Trans-Nzoia konstanter sind (weniger streuen) als in Kericho.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad23\quad19\quad28{,}6\quad24{,}9\quad30{,}2\quad21{,}8\\
\textrm{Kericho}
&amp;:\quad26{,}9\quad34{,}2\quad31{,}4\quad24{,}8\quad24{,}6\quad23{,}9\quad16{,}9
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
