


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Zeiten zwischen An- und Ablegen in
Valencia weniger variiert als in Marseille.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad16{,}9\quad16{,}8\quad15\quad21{,}4\quad16{,}2\quad27{,}7\\
\textrm{Marseille}
&amp;:\quad14{,}4\quad26{,}1\quad22{,}9\quad23{,}9\quad15{,}1\quad26{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
