


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilung der Umschlagzahlen pro Schiff in
Haifa eine größere Varianz aufweist als in İzmir.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad713\quad654\quad1069\quad860\quad500\quad1108\\
\textrm{İzmir} &amp;:\quad953\quad1184\quad1192\quad974\quad1032\quad927
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
