


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagsmengen
in West Pokot und Turkana unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad6{,}7\quad17{,}4\quad16{,}9\quad14{,}7\quad16{,}7\quad18\\
\textrm{Turkana}
&amp;:\quad18{,}5\quad17{,}4\quad15{,}8\quad17{,}2\quad14\quad19{,}4\quad26{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
