


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in Nakuru
konstanter sind (weniger streuen) als in Turkana.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad21{,}7\quad23{,}2\quad17{,}3\quad18{,}1\quad23\quad22{,}8\\
\textrm{Turkana}
&amp;:\quad23{,}8\quad21{,}7\quad18{,}7\quad14{,}4\quad17{,}9\quad20
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
