


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Zimbabwe und Nepal
unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad11{,}34\quad12{,}03\quad10{,}51\quad3{,}63\quad14{,}28\quad8{,}95\\
\textrm{Nepal}
&amp;:\quad8{,}81\quad11{,}29\quad11{,}34\quad8{,}47\quad11{,}67\quad10{,}35
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
