


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Sie vermuten, dass die Erträge in Baringo stärker variieren als in
Samburu.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad16{,}53\quad15{,}38\quad19{,}71\quad16{,}6\quad17{,}03\\
\textrm{Samburu}
&amp;:\quad20{,}3\quad16{,}51\quad16{,}45\quad17{,}41\quad17{,}14\quad16{,}88
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
