


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Niederschlagsmengen in Samburu
eine kleinere Varianz aufweist als in Nandi.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad24{,}2\quad22{,}5\quad15{,}5\quad19{,}8\quad18{,}7\quad22{,}6\\
\textrm{Nandi}
&amp;:\quad17{,}5\quad25{,}2\quad14{,}3\quad21{,}7\quad22{,}4\quad25{,}5
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
