


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilung der Umschlagzahlen je Schiff in
Algeciras eine größere Varianz aufweist als in Koper.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad1376\quad835\quad1192\quad1219\quad302\quad712\quad858\\
\textrm{Koper} &amp;:\quad662\quad1054\quad1033\quad1092\quad834
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
