


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Containerzahlen je Schiff in
Genua und Barcelona unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Anzahl der umgeladenen
Container pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad1022\quad323\quad1082\quad949\quad1060\quad962\\
\textrm{Barcelona}
&amp;:\quad973\quad1129\quad61\quad520\quad804\quad1397
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
10% für ein falsch-positives Ergebnis.</p>
