


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der Anzahl der
umgeladenen Container pro Schiff in Algeciras und Marseille
unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad1281\quad873\quad1076\quad356\quad1003\quad824\quad1391\\
\textrm{Marseille}
&amp;:\quad1052\quad1379\quad757\quad930\quad820\quad699
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
