


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen je Schiff in
Marseille stärker variieren als in Alexandria.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille}
&amp;:\quad1648\quad1010\quad926\quad1175\quad892\quad1017\\
\textrm{Alexandria}
&amp;:\quad909\quad973\quad1021\quad1037\quad1177\quad647\quad1146
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
