


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Sie vermuten, dass die Verteilung der Ertragsmengen in West Pokot
eine größere Varianz aufweist als in Nandi.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad12{,}74\quad20{,}28\quad23{,}07\quad20{,}01\quad15{,}91\\
\textrm{Nandi}
&amp;:\quad19{,}01\quad18{,}2\quad12{,}08\quad16{,}55\quad17{,}25\quad15{,}53
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
