


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in Koper
konstanter sind (weniger streuen) als in Haifa.</p>
<p>Sie messen die folgenden Abfertigungszeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Koper}
&amp;:\quad15{,}1\quad19{,}7\quad20\quad21{,}8\quad11{,}3\quad14{,}7\quad26{,}5\\
\textrm{Haifa}
&amp;:\quad21{,}9\quad35\quad27\quad17{,}2\quad29{,}3\quad24{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
