


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Abfertigungszeiten
in Marsaxlokk und Marseille unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad6{,}9\quad20{,}4\quad24{,}3\quad22{,}3\quad6{,}7\\
\textrm{Marseille}
&amp;:\quad27{,}2\quad14{,}4\quad16{,}4\quad21{,}9\quad17{,}8\quad17\quad14{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 10%.</p>
