


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Liegezeiten in Alexandria und Haifa
unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad15{,}1\quad19{,}5\quad21{,}2\quad27{,}2\quad19{,}9\quad27{,}4\\
\textrm{Haifa} &amp;:\quad11{,}6\quad18{,}9\quad14{,}3\quad19\quad28{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
