


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Erträge in Narok
eine größere Varianz aufweist als in Baringo.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad20{,}69\quad17{,}18\quad17{,}75\quad21{,}13\quad15{,}3\quad20{,}78\\
\textrm{Baringo}
&amp;:\quad19{,}75\quad21{,}19\quad16{,}88\quad21{,}02\quad22{,}36\quad17{,}77
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
