


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Umschlagzahlen pro Schiff in Valencia
stärker variieren als in Marsaxlokk.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia} &amp;:\quad1268\quad472\quad560\quad1357\quad1120\\
\textrm{Marsaxlokk}
&amp;:\quad1273\quad785\quad832\quad706\quad954\quad1537\quad1357
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein Signifikanzniveau von
5%.</p>
