


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Liefervolumina für Honduras weniger konstant
sind (stärker streuen) als für Burkina Faso.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad15{,}79\quad8{,}81\quad15{,}29\quad12{,}78\quad6{,}96\\
\textrm{Burkina Faso}
&amp;:\quad16{,}99\quad13{,}46\quad18{,}69\quad16{,}69\quad10{,}78\quad12{,}06
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
