


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Kajiado konstanter
sind (weniger streuen) als in Baringo.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad16{,}9\quad12{,}2\quad22{,}1\quad15{,}9\quad17\quad21{,}6\\
\textrm{Baringo}
&amp;:\quad21{,}2\quad16{,}7\quad26{,}3\quad19{,}4\quad21{,}7\quad23{,}4\quad14{,}1
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
