


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Verteilungen der Liefervolumina für Guatemala
und Burkina Faso unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad18{,}28\quad10{,}55\quad13{,}22\quad11{,}09\quad8{,}66\\
\textrm{Burkina Faso}
&amp;:\quad11{,}78\quad11{,}25\quad5{,}38\quad10{,}13\quad9{,}09\quad9{,}32
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
