


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Ertragswerte in
Turkana eine größere Varianz aufweist als in Trans-Nzoia.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad22{,}37\quad22{,}97\quad19{,}62\quad18{,}62\quad18{,}66\\
\textrm{Trans-Nzoia}
&amp;:\quad18{,}54\quad21{,}88\quad21{,}86\quad18{,}78\quad20{,}79\quad20{,}77
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
