


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Containerzahlen je Schiff in Gioia Tauro und Port Said unterschiedliche
Varianzen aufweisen.</p>
<p>Sie messen die folgenden Umschlagzahlen pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad936\quad1057\quad1099\quad1423\quad1210\quad1338\\
\textrm{Port Said}
&amp;:\quad870\quad1114\quad1010\quad903\quad979\quad928
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
