


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Honduras weniger variiert als für Tunesien.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad15{,}61\quad20{,}74\quad10{,}32\quad15{,}55\quad18{,}86\quad13{,}08\\
\textrm{Tunesien}
&amp;:\quad14{,}62\quad19{,}2\quad10{,}49\quad17{,}58\quad17{,}15\quad14{,}54\quad7{,}81
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
