


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Uasin
Gishu und Kericho unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad19{,}1\quad17{,}8\quad17{,}4\quad25\quad25{,}4\quad14{,}7\\
\textrm{Kericho}
&amp;:\quad18{,}7\quad23{,}1\quad32{,}3\quad23{,}8\quad18{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 10%.</p>
