


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Anzahl der umgeladenen Container
pro Schiff in Tanger stärker variieren als in Mersin.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad930\quad1507\quad1036\quad660\quad1036\quad1109\quad794\\
\textrm{Mersin}
&amp;:\quad1181\quad827\quad1409\quad824\quad1385\quad1245
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
