


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Ertragswerte in Kajiado und Bomet unterschiedliche Varianzen
aufweisen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad23{,}53\quad23{,}59\quad11{,}81\quad15{,}35\quad20{,}12\quad17{,}17\\
\textrm{Bomet}
&amp;:\quad20{,}13\quad30{,}11\quad14{,}47\quad22{,}41\quad21{,}72\quad27{,}03\quad14{,}79
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
