


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Ertragsmengen in
Baringo eine größere Varianz aufweist als in Trans-Nzoia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragswerte (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad16{,}09\quad16{,}27\quad9{,}53\quad19{,}91\quad12{,}9\\
\textrm{Trans-Nzoia}
&amp;:\quad8{,}99\quad12{,}24\quad17{,}18\quad13{,}39\quad18{,}65\quad14{,}17
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 5% auftreten.</p>
