


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Erträge in Bomet weniger konstant
sind (stärker streuen) als in West Pokot.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad14{,}86\quad17{,}2\quad29{,}05\quad15{,}65\quad8{,}06\\
\textrm{West Pokot}
&amp;:\quad16{,}49\quad26{,}35\quad18{,}64\quad12{,}79\quad21{,}65\quad20{,}64\quad21{,}8
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
