


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Verteilungen der Umschlagzahlen pro Schiff
in Damiette und Marsaxlokk unterschiedliche Varianzen aufweisen.</p>
<p>Sie messen die folgenden Containerzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad821\quad444\quad1167\quad595\quad1064\quad437\\
\textrm{Marsaxlokk}
&amp;:\quad797\quad1049\quad1519\quad1120\quad1107\quad856\quad1019
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
