


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Nandi und Baringo unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad20{,}4\quad22{,}5\quad23{,}9\quad20{,}4\quad21{,}2\quad21{,}3\quad22{,}8\\
\textrm{Baringo}
&amp;:\quad13{,}4\quad18{,}5\quad22{,}1\quad22{,}5\quad22{,}8\quad23{,}9
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
