


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Tunesien stärker
variieren als für Burkina Faso.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad20{,}37\quad10{,}97\quad25{,}12\quad23{,}37\quad16{,}64\quad18{,}52\\
\textrm{Burkina Faso}
&amp;:\quad18{,}02\quad12{,}43\quad9{,}74\quad16{,}97\quad12{,}4\quad14{,}12
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
5% ist dabei akzeptabel.</p>
