


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Liegezeiten in Algeciras und Valencia
unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad34{,}6\quad14{,}3\quad22{,}1\quad21{,}3\quad14{,}6\quad18{,}9\\
\textrm{Valencia}
&amp;:\quad27{,}5\quad17{,}8\quad18{,}8\quad22{,}7\quad25{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
