


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Umschlagzahlen pro Schiff in Koper und
Algeciras unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Koper}
&amp;:\quad833\quad1605\quad1095\quad600\quad511\quad1019\\
\textrm{Algeciras}
&amp;:\quad719\quad1329\quad1193\quad1422\quad1516\quad566\quad1271
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
