


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in Mersin weniger variiert als in Barcelona.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad14{,}8\quad28{,}4\quad28{,}6\quad13{,}6\quad12{,}3\quad15{,}8\\
\textrm{Barcelona}
&amp;:\quad29{,}3\quad23{,}7\quad31{,}1\quad23{,}6\quad8{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
