


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Niederschlagsmengen in Baringo eine größere Varianz aufweist als in
Elgeyo-Marakwet.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad6{,}2\quad27{,}4\quad18{,}4\quad15{,}4\quad20{,}8\quad21{,}7\quad21{,}5\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad15{,}4\quad15{,}8\quad16{,}3\quad13{,}9\quad17{,}6\quad16{,}1
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
