


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Syrien und
Tunesien unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad11{,}65\quad21{,}34\quad15{,}54\quad7{,}58\quad9{,}05\quad18{,}09\\
\textrm{Tunesien}
&amp;:\quad27{,}18\quad8{,}39\quad1{,}55\quad22{,}27\quad10{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
