


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Verteilungen der Liefervolumina für
Guatemala und Senegal unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad17{,}94\quad14{,}48\quad18{,}51\quad12{,}17\quad18{,}32\\
\textrm{Senegal}
&amp;:\quad18{,}97\quad19{,}09\quad15{,}02\quad18{,}56\quad22{,}35\quad18{,}76
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 10% ist dabei akzeptabel.</p>
