


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
Mersin weniger konstant sind (stärker streuen) als in La Spezia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad734\quad1031\quad1491\quad925\quad1221\quad961\\
\textrm{La Spezia}
&amp;:\quad1058\quad1032\quad1104\quad981\quad895\quad1148\quad1408
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie dabei 5%
als Signifikanzniveau.</p>
