


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
Gioia Tauro und Ashdod unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Umschlagzahlen pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro} &amp;:\quad1075\quad631\quad1688\quad775\quad1413\\
\textrm{Ashdod}
&amp;:\quad544\quad478\quad1061\quad693\quad1404\quad1275\quad923
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
