


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Malawi
konstanter sind (weniger streuen) als für Honduras.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad9{,}24\quad13\quad6{,}22\quad11{,}84\quad14{,}11\quad12{,}51\\
\textrm{Honduras}
&amp;:\quad8{,}5\quad4{,}27\quad5{,}58\quad5{,}64\quad6{,}73\quad13{,}32\quad7{,}24
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 5% ist dabei
akzeptabel.</p>
