


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen je Schiff in Damiette und
Genua unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad611\quad1615\quad1710\quad1506\quad611\quad207\quad695\\
\textrm{Genua} &amp;:\quad37\quad995\quad685\quad1270\quad1611
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
