


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Uasin Gishu konstanter sind (weniger streuen) als in Samburu.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragswerte (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad22{,}3\quad17{,}02\quad21{,}43\quad17{,}27\quad19{,}27\quad15{,}26\\
\textrm{Samburu}
&amp;:\quad12{,}98\quad18{,}71\quad20{,}89\quad12{,}98\quad13{,}49\quad17{,}32
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
