


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Umschlagzahlen je Schiff in Marseille weniger
variiert als in Port Said.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Containerzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille}
&amp;:\quad439\quad503\quad1037\quad666\quad728\quad1363\\
\textrm{Port Said} &amp;:\quad826\quad910\quad713\quad1634\quad647
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 5%.</p>
