


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Containerzahlen je Schiff in
Haifa konstanter sind (weniger streuen) als in Valencia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Anzahl der umgeladenen
Container pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad1009\quad1391\quad858\quad984\quad619\quad1308\quad1217\\
\textrm{Valencia}
&amp;:\quad891\quad1317\quad466\quad896\quad1206\quad757
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 5%.</p>
