


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Ertragswerte in Nakuru und Narok
unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad23{,}43\quad16{,}27\quad19{,}14\quad17{,}47\quad19{,}23\quad13{,}46\quad14{,}57\\
\textrm{Narok}
&amp;:\quad13{,}89\quad16{,}68\quad15{,}29\quad13{,}35\quad21{,}72\quad19{,}39
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
