


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in Laikipia konstanter
sind (weniger streuen) als in Nakuru.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad22{,}7\quad15\quad16{,}3\quad13{,}4\quad19{,}2\quad12{,}9\\
\textrm{Nakuru}
&amp;:\quad13{,}3\quad19\quad22{,}6\quad18{,}3\quad8{,}7\quad11{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
