


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Malawi weniger konstant
sind (stärker streuen) als für Jemen.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad12{,}42\quad19{,}46\quad19{,}41\quad23{,}7\quad22{,}2\quad24{,}46\\
\textrm{Jemen}
&amp;:\quad15{,}97\quad17{,}34\quad21{,}21\quad19{,}9\quad19{,}41\quad20\quad16{,}96
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
