


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Verteilungen der Ertragswerte in Uasin
Gishu und Samburu unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad27{,}36\quad12{,}72\quad17{,}5\quad12{,}44\quad16{,}34\\
\textrm{Samburu}
&amp;:\quad20{,}82\quad18{,}4\quad15{,}42\quad16{,}8\quad19{,}27\quad21{,}89\quad13{,}59
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von
10% ist dabei akzeptabel.</p>
