


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen pro Schiff in Marseille und
Tanger unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Containerzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille}
&amp;:\quad890\quad1218\quad1212\quad1208\quad1084\quad1106\quad1083\\
\textrm{Tanger} &amp;:\quad754\quad1423\quad779\quad777\quad726
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
10% für ein falsch-positives Ergebnis.</p>
