


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Ertragswerte in Kajiado eine
kleinere Varianz aufweist als in Samburu.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad22{,}59\quad21{,}98\quad23{,}63\quad20{,}97\quad19{,}36\quad22{,}51\quad22{,}93\\
\textrm{Samburu}
&amp;:\quad23{,}22\quad21{,}36\quad17{,}41\quad20{,}33\quad22{,}1\quad16{,}18
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 5%.</p>
