


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Senegal weniger variiert als für Syrien.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad25{,}33\quad16{,}46\quad13{,}05\quad28{,}65\quad16{,}75\quad16{,}48\quad15{,}93\\
\textrm{Syrien}
&amp;:\quad20{,}99\quad12{,}95\quad22{,}5\quad21{,}16\quad7{,}31
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
