


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagsmengen
in West Pokot und Elgeyo-Marakwet unterschiedlich stark gestreut
sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad16{,}2\quad18{,}1\quad21{,}3\quad22{,}4\quad17{,}9\quad14{,}3\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}8\quad10{,}2\quad22{,}9\quad17{,}5\quad14{,}7\quad14{,}7\quad16{,}9
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
