


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagswerte in Trans-Nzoia und Baringo
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad18{,}2\quad14{,}1\quad16{,}5\quad16\quad14{,}5\quad18{,}9\quad23{,}9\\
\textrm{Baringo}
&amp;:\quad12{,}4\quad13{,}7\quad19{,}9\quad15{,}4\quad13{,}4\quad16{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 10%
auftreten.</p>
