


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Erträge in Turkana konstanter sind
(weniger streuen) als in Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragswerte (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad16{,}5\quad14{,}58\quad21{,}83\quad15{,}23\quad23{,}01\quad18{,}91\quad20{,}71\\
\textrm{Laikipia}
&amp;:\quad14{,}15\quad24{,}78\quad23{,}17\quad23{,}13\quad21{,}67\quad21{,}29
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 5% ist
dabei akzeptabel.</p>
