


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Erträge in Baringo eine größere
Varianz aufweist als in Samburu.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad19{,}86\quad23{,}15\quad25{,}87\quad19{,}68\quad21\\
\textrm{Samburu}
&amp;:\quad21{,}66\quad22{,}57\quad18{,}63\quad25{,}03\quad20{,}13\quad18{,}71
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
