


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Abfertigungszeiten
in Algeciras eine größere Varianz aufweist als in Genua.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad18\quad25{,}5\quad20{,}4\quad21{,}6\quad21{,}3\quad10{,}7\\
\textrm{Genua}
&amp;:\quad24{,}6\quad23{,}1\quad15{,}2\quad12{,}9\quad23{,}9\quad21{,}9\quad20{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
