


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Containerzahlen je Schiff in Marsaxlokk
und Ashdod unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk} &amp;:\quad1532\quad1058\quad888\quad772\quad368\\
\textrm{Ashdod}
&amp;:\quad964\quad1209\quad570\quad1572\quad1487\quad484
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 10% ist dabei akzeptabel.</p>
