


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Burkina Faso weniger konstant sind (stärker streuen) als für Nepal.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad28{,}67\quad18{,}26\quad22{,}24\quad20{,}29\quad7{,}56\quad17{,}53\quad23{,}69\\
\textrm{Nepal}
&amp;:\quad20{,}46\quad7{,}64\quad21{,}31\quad20{,}47\quad16{,}67\quad11{,}28
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 5%.</p>
