


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Laikipia und
West Pokot unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad19{,}3\quad17{,}9\quad16\quad21{,}5\quad28{,}3\quad22{,}5\quad22{,}2\\
\textrm{West Pokot}
&amp;:\quad28{,}7\quad25{,}9\quad25{,}9\quad21{,}4\quad18{,}3\quad11
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
