


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Samburu und
Kericho unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad12{,}4\quad14{,}7\quad7\quad15{,}5\quad20{,}4\quad12{,}4\\
\textrm{Kericho}
&amp;:\quad12{,}5\quad15{,}3\quad20{,}3\quad14{,}9\quad17{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
