


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Zeiten zwischen An- und Ablegen in Gioia Tauro
konstanter sind (weniger streuen) als in İstanbul.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad20{,}6\quad18{,}4\quad19{,}6\quad17{,}7\quad28{,}9\quad20{,}3\\
\textrm{İstanbul}
&amp;:\quad26{,}4\quad19{,}2\quad17{,}9\quad26{,}6\quad25{,}5\quad17{,}3\quad22
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
