


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Containerzahlen je
Schiff in Mersin eine kleinere Varianz aufweist als in Piräus.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad1513\quad1265\quad883\quad1099\quad764\quad996\\
\textrm{Piräus} &amp;:\quad789\quad911\quad384\quad767\quad1212
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 5% ist dabei
akzeptabel.</p>
