


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Honduras und
Papua-Neuguinea unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad19{,}2\quad9{,}31\quad9{,}44\quad11{,}72\quad10{,}79\quad8{,}71\quad17{,}42\\
\textrm{Papua-Neuguinea}
&amp;:\quad12{,}14\quad12{,}37\quad6{,}58\quad12{,}39\quad17{,}52\quad4{,}72
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
