


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Liegezeiten in La Spezia weniger variiert
als in Algeciras.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad18{,}3\quad20{,}3\quad18{,}5\quad20{,}4\quad18\quad11{,}4\\
\textrm{Algeciras}
&amp;:\quad16{,}4\quad7{,}7\quad22{,}4\quad13{,}1\quad21{,}6\quad16{,}9\quad25
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 5%.</p>
