


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Uasin Gishu stärker
variieren als in Nakuru.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad22{,}23\quad19{,}05\quad17{,}53\quad12{,}49\quad21{,}09\\
\textrm{Nakuru}
&amp;:\quad15{,}14\quad16{,}99\quad22{,}37\quad17{,}81\quad21{,}15\quad12{,}39\quad13{,}42
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 5% ist
dabei akzeptabel.</p>
