


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Honduras weniger
variiert als für Senegal.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad13{,}4\quad13{,}26\quad15{,}85\quad16{,}71\quad13{,}38\\
\textrm{Senegal}
&amp;:\quad13{,}62\quad12{,}9\quad14{,}71\quad10{,}88\quad18{,}93\quad12{,}84
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
