


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Abfertigungszeiten
in Damiette konstanter sind (weniger streuen) als in Ashdod.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad13{,}4\quad16{,}5\quad23{,}9\quad18{,}6\quad21{,}2\quad18{,}1\\
\textrm{Ashdod}
&amp;:\quad27\quad27{,}6\quad18\quad20{,}9\quad18{,}4\quad17{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
