


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Verteilungen der Anzahl der umgeladenen
Container pro Schiff in Mersin und Marseille unterschiedliche Varianzen
aufweisen.</p>
<p>Sie messen die folgenden Umschlagzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad664\quad355\quad1111\quad879\quad1073\quad1288\quad1089\\
\textrm{Marseille}
&amp;:\quad756\quad822\quad1295\quad1153\quad729\quad1351
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
