


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Ertragswerte in Turkana
eine kleinere Varianz aufweist als in Baringo.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragsmengen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad23{,}51\quad19{,}73\quad22{,}9\quad20{,}96\quad17{,}45\quad25{,}05\quad18{,}89\\
\textrm{Baringo}
&amp;:\quad22{,}91\quad28{,}4\quad17{,}99\quad21{,}92\quad20{,}9\quad20
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
