


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Verteilungen der Niederschlagswerte in Narok
und Nakuru unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad21{,}1\quad17{,}5\quad25{,}4\quad18\quad20\quad22{,}9\\
\textrm{Nakuru}
&amp;:\quad24{,}8\quad20\quad26{,}5\quad15{,}1\quad10{,}9\quad24{,}8\quad20{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
