


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Niederschlagsmengen in Kericho eine kleinere Varianz aufweist als in
Elgeyo-Marakwet.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad16{,}5\quad18{,}9\quad18\quad19\quad8{,}7\quad23{,}6\quad17{,}7\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad11{,}7\quad12{,}6\quad19{,}5\quad23{,}5\quad4{,}1\quad9{,}4
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
