


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Senegal
weniger konstant sind (stärker streuen) als für Jordanien.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad15{,}94\quad16{,}56\quad16{,}69\quad11{,}39\quad9{,}99\quad17{,}12\\
\textrm{Jordanien}
&amp;:\quad13{,}92\quad13{,}28\quad18{,}28\quad13{,}72\quad19{,}21
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
