


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Turkana
weniger konstant sind (stärker streuen) als in Uasin Gishu.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad14{,}3\quad16{,}3\quad15{,}2\quad20{,}3\quad17\quad18{,}6\\
\textrm{Uasin Gishu}
&amp;:\quad20{,}8\quad18{,}7\quad18{,}2\quad19{,}7\quad18{,}1\quad15{,}5
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
