


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in Koper
stärker variieren als in Tanger.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Koper}
&amp;:\quad21{,}8\quad19{,}3\quad17{,}5\quad13{,}4\quad14{,}1\\
\textrm{Tanger}
&amp;:\quad19{,}3\quad11{,}4\quad21{,}4\quad18{,}2\quad18{,}8\quad16{,}2\quad15{,}8
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
