


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Verteilungen der Liefervolumina für Tunesien
und Malawi unterschiedliche Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad21{,}17\quad6{,}03\quad16{,}54\quad18{,}68\quad17{,}75\quad3{,}86\\
\textrm{Malawi}
&amp;:\quad12{,}24\quad6{,}02\quad9{,}03\quad13{,}28\quad22{,}48\quad14{,}39
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
