


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Abfertigungszeiten in Ashdod eine kleinere Varianz aufweist als in
Marsaxlokk.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad17{,}3\quad14\quad16{,}3\quad27{,}9\quad25{,}5\\
\textrm{Marsaxlokk}
&amp;:\quad29{,}8\quad10{,}9\quad16{,}1\quad22{,}9\quad25{,}1\quad18{,}8
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
