


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Niederschlagswerte in Kajiado
eine größere Varianz aufweist als in Laikipia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad19{,}7\quad26{,}2\quad17{,}5\quad14{,}5\quad22\quad22{,}9\quad21{,}7\\
\textrm{Laikipia}
&amp;:\quad20{,}1\quad22\quad18{,}6\quad22{,}3\quad19{,}9\quad25{,}5
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
