


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Ertragswerte in Kericho
eine größere Varianz aufweist als in Samburu.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad18{,}4\quad19{,}21\quad18{,}3\quad18{,}99\quad23{,}81\quad22{,}07\\
\textrm{Samburu}
&amp;:\quad20{,}18\quad22{,}78\quad22{,}89\quad21{,}65\quad22{,}93\quad21{,}03
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
