


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Niederschlagswerte in Baringo eine kleinere Varianz aufweist als in
Bomet.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad24{,}9\quad25{,}7\quad17{,}3\quad21{,}9\quad21{,}6\\
\textrm{Bomet}
&amp;:\quad21{,}5\quad8{,}3\quad16{,}1\quad17{,}1\quad21{,}6\quad17
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
