


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in
Trans-Nzoia weniger konstant sind (stärker streuen) als in Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad22{,}8\quad21{,}6\quad21{,}9\quad24{,}9\quad11\\
\textrm{Laikipia}
&amp;:\quad23{,}1\quad24{,}5\quad20{,}4\quad24{,}2\quad18{,}8\quad28{,}2\quad30{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 5%.</p>
