


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Verteilung der Liegezeiten in Barcelona
eine größere Varianz aufweist als in İstanbul.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Barcelona}
&amp;:\quad12{,}1\quad18{,}4\quad20{,}7\quad18{,}4\quad19{,}4\\
\textrm{İstanbul}
&amp;:\quad21{,}2\quad20{,}7\quad23\quad18\quad18{,}4\quad21{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
