


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in West Pokot stärker
variieren als in Trans-Nzoia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad24{,}2\quad15{,}5\quad18{,}9\quad18{,}4\quad30{,}2\quad26{,}7\quad19{,}7\\
\textrm{Trans-Nzoia}
&amp;:\quad22{,}1\quad16{,}5\quad22{,}6\quad18{,}6\quad23{,}5\quad27{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
