


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Kericho und
Trans-Nzoia unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad14{,}91\quad16{,}21\quad21{,}13\quad19{,}38\quad22{,}01\quad18{,}99\\
\textrm{Trans-Nzoia}
&amp;:\quad20{,}95\quad19{,}77\quad18{,}36\quad16{,}35\quad13{,}39\quad22{,}84
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein Signifikanzniveau von
10%.</p>
