


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Niederschlagsmengen in Baringo eine größere Varianz aufweist als in
Samburu.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad22{,}8\quad28{,}8\quad21\quad23{,}3\quad15{,}3\quad21{,}5\quad19{,}6\\
\textrm{Samburu}
&amp;:\quad18{,}5\quad25{,}9\quad20{,}8\quad22\quad17{,}1\quad19{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
