


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Guatemala stärker variieren als für Honduras.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad20{,}68\quad17{,}36\quad18{,}43\quad15{,}35\quad16{,}08\\
\textrm{Honduras}
&amp;:\quad19{,}76\quad21{,}42\quad18{,}99\quad16{,}09\quad19{,}2\quad16{,}44\quad20{,}87
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
