


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Verteilung der Erträge in Turkana eine
größere Varianz aufweist als in Baringo.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad19{,}93\quad17{,}74\quad21{,}07\quad23{,}17\quad13{,}28\quad22{,}97\\
\textrm{Baringo}
&amp;:\quad18{,}19\quad16{,}63\quad17{,}34\quad14{,}03\quad20{,}17\quad22{,}13\quad19{,}94
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
