


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Ertragsmengen in Kericho
konstanter sind (weniger streuen) als in Laikipia.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad11{,}63\quad20{,}42\quad22{,}48\quad14{,}17\quad17{,}23\quad14{,}11\quad16{,}57\\
\textrm{Laikipia}
&amp;:\quad8{,}34\quad22{,}77\quad17{,}26\quad12{,}5\quad22{,}1\quad16{,}99
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
