


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Kambodscha weniger variiert als für Nepal.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad15{,}65\quad14{,}24\quad21{,}89\quad19{,}38\quad26{,}1\\
\textrm{Nepal}
&amp;:\quad11{,}55\quad10{,}47\quad12{,}8\quad23{,}65\quad20{,}85\quad13{,}38
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
