


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Nandi
weniger konstant sind (stärker streuen) als in Baringo.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad19{,}8\quad27{,}6\quad23{,}4\quad15{,}1\quad28{,}2\quad15{,}9\\
\textrm{Baringo}
&amp;:\quad28{,}6\quad23{,}3\quad27{,}9\quad28{,}5\quad21{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
