


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen pro Schiff in Gioia Tauro
und Barcelona unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad720\quad261\quad1162\quad90\quad979\quad1077\quad681\\
\textrm{Barcelona} &amp;:\quad1245\quad1228\quad766\quad1244\quad1240
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
