


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in Piräus weniger variiert als in Valencia.</p>
<p>Sie messen die folgenden Liegezeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus}
&amp;:\quad10{,}4\quad19{,}2\quad11{,}8\quad13{,}3\quad30{,}8\quad14\quad18\\
\textrm{Valencia}
&amp;:\quad15{,}3\quad35{,}6\quad25{,}6\quad14{,}3\quad20\quad25
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
