


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Uasin Gishu weniger variiert als in Trans-Nzoia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad19{,}5\quad25{,}5\quad23{,}2\quad19{,}7\quad18{,}6\quad23{,}4\\
\textrm{Trans-Nzoia}
&amp;:\quad18{,}9\quad27{,}8\quad24{,}6\quad24{,}1\quad18{,}7\quad22{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
