


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Syrien und Burkina Faso
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad11{,}5\quad19{,}2\quad2{,}08\quad5{,}21\quad12{,}68\quad12{,}43\\
\textrm{Burkina Faso}
&amp;:\quad10{,}23\quad15{,}18\quad16{,}81\quad12{,}31\quad10{,}35\quad19{,}94\quad11{,}93
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
