


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der
Umschlagzahlen je Schiff in Ashdod und Marsaxlokk unterschiedliche
Varianzen aufweisen.</p>
<p>Sie messen die folgenden Containerzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad827\quad1605\quad1094\quad307\quad1787\quad866\quad490\\
\textrm{Marsaxlokk}
&amp;:\quad997\quad940\quad743\quad884\quad477\quad588
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Alphafehler von 10%
ist dabei akzeptabel.</p>
