


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Papua-Neuguinea weniger
variiert als für Aserbaidschan.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad12{,}3\quad18{,}29\quad21{,}89\quad14{,}45\quad15{,}3\quad19{,}16\\
\textrm{Aserbaidschan}
&amp;:\quad15{,}55\quad12{,}77\quad12{,}65\quad18{,}74\quad19{,}79\quad22{,}83\quad19{,}11
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
