


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Containerzahlen je
Schiff in Marsaxlokk stärker variieren als in İstanbul.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad786\quad1110\quad1238\quad1156\quad1373\quad1038\\
\textrm{İstanbul} &amp;:\quad1195\quad1089\quad962\quad1235\quad1086
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 5% auftreten.</p>
