


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Abfertigungszeiten
in Damiette und Piräus unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad7{,}1\quad9{,}8\quad17{,}6\quad19{,}1\quad12{,}5\\
\textrm{Piräus}
&amp;:\quad19{,}1\quad17{,}4\quad12{,}6\quad17{,}1\quad27\quad19
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 10% auftreten.</p>
