


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Uasin Gishu und Kericho unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad23{,}15\quad24{,}39\quad21{,}03\quad20{,}74\quad22{,}18\\
\textrm{Kericho}
&amp;:\quad19{,}81\quad17{,}26\quad21{,}3\quad19{,}76\quad18\quad19{,}65
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 10%.</p>
