


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Sie vermuten, dass die Verteilung der Umschlagzahlen pro Schiff in
Algeciras eine kleinere Varianz aufweist als in Valencia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad908\quad733\quad1261\quad1016\quad1063\quad1274\\
\textrm{Valencia}
&amp;:\quad1164\quad1079\quad499\quad912\quad959\quad1146
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein Signifikanzniveau von 5%.</p>
