


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Anzahl der umgeladenen Container
pro Schiff in Valencia weniger variiert als in Genua.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad772\quad1019\quad741\quad1012\quad1095\quad919\\
\textrm{Genua} &amp;:\quad1207\quad849\quad1016\quad860\quad1845
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein Signifikanzniveau von
5%.</p>
