


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Liegezeiten in Valencia
weniger variiert als in İzmir.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad12{,}2\quad13{,}7\quad11{,}3\quad24{,}1\quad10{,}8\quad18{,}8\quad27{,}6\\
\textrm{İzmir}
&amp;:\quad31{,}8\quad19{,}6\quad24{,}2\quad21{,}3\quad7{,}1\quad24{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 5%.</p>
