


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Senegal weniger
konstant sind (stärker streuen) als für Malawi.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad16{,}43\quad14{,}5\quad14{,}69\quad14{,}72\quad16{,}06\quad15{,}07\\
\textrm{Malawi}
&amp;:\quad14{,}02\quad15{,}27\quad14{,}44\quad14{,}35\quad13{,}94
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein
Signifikanzniveau von 5%.</p>
