


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Ertragsmengen in Samburu
eine kleinere Varianz aufweist als in Laikipia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad15{,}98\quad15{,}63\quad18{,}49\quad17{,}72\quad16{,}57\\
\textrm{Laikipia}
&amp;:\quad21{,}25\quad12{,}67\quad20{,}83\quad15{,}1\quad19{,}77\quad17{,}14
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
