


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Containerzahlen
je Schiff in İstanbul eine kleinere Varianz aufweist als in
Valencia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul} &amp;:\quad886\quad1145\quad885\quad421\quad760\\
\textrm{Valencia}
&amp;:\quad833\quad772\quad1020\quad1197\quad1404\quad769\quad1313
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
