


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jemen und
Tunesien unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad13{,}07\quad12{,}5\quad7{,}27\quad11{,}59\quad13{,}73\\
\textrm{Tunesien}
&amp;:\quad11{,}44\quad9{,}37\quad13{,}31\quad8{,}89\quad9{,}86\quad13{,}7
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 10% ist dabei akzeptabel.</p>
