


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Containerzahlen je Schiff in
Algeciras weniger variiert als in Gioia Tauro.</p>
<p>Sie messen die folgenden Umschlagzahlen pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad872\quad628\quad1010\quad811\quad833\quad1384\\
\textrm{Gioia Tauro}
&amp;:\quad985\quad242\quad1077\quad1264\quad1103\quad822\quad1256
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
5% ist dabei akzeptabel.</p>
