


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Abfertigungszeiten in Mersin und Damiette
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad18{,}6\quad17{,}6\quad14{,}4\quad22{,}7\quad24{,}5\\
\textrm{Damiette}
&amp;:\quad5{,}8\quad21{,}6\quad8{,}8\quad18{,}2\quad11{,}9\quad23{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
