


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Guatemala weniger konstant sind (stärker streuen) als für Senegal.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad6{,}31\quad8{,}24\quad17{,}09\quad9{,}34\quad8{,}65\quad11{,}45\\
\textrm{Senegal}
&amp;:\quad14{,}88\quad10{,}17\quad16{,}62\quad12{,}97\quad10{,}37\quad11{,}81
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
