


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Ertragsmengen in Nandi weniger
konstant sind (stärker streuen) als in Kericho.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad15{,}07\quad17{,}04\quad12{,}13\quad14{,}79\quad20{,}06\quad19{,}66\\
\textrm{Kericho}
&amp;:\quad18{,}01\quad19{,}36\quad15{,}78\quad18{,}6\quad18{,}49
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
