


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Baringo
und Kajiado unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad26{,}7\quad22\quad17{,}5\quad22{,}7\quad27{,}9\quad24{,}4\\
\textrm{Kajiado}
&amp;:\quad22{,}7\quad19{,}8\quad20{,}1\quad19{,}2\quad22{,}3\quad23{,}1\quad27{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 10% ist dabei akzeptabel.</p>
