


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Niederschlagswerte in Kajiado und Samburu unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad19\quad13{,}5\quad31{,}8\quad26{,}6\quad23{,}7\quad16{,}6\quad25\\
\textrm{Samburu}
&amp;:\quad18{,}1\quad19{,}4\quad21{,}1\quad19{,}8\quad15{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
