


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Nepal und
Senegal unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nepal}
&amp;:\quad10{,}46\quad16{,}29\quad13{,}73\quad1{,}8\quad2{,}25\quad18{,}46\quad22{,}12\\
\textrm{Senegal}
&amp;:\quad28{,}79\quad16{,}5\quad20{,}4\quad4{,}38\quad13{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 10% ist dabei akzeptabel.</p>
