


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Umschlagzahlen pro Schiff in Alexandria
weniger konstant sind (stärker streuen) als in Gioia Tauro.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad651\quad1511\quad1363\quad616\quad1169\quad711\\
\textrm{Gioia Tauro} &amp;:\quad1389\quad748\quad1281\quad1444\quad1353
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 5% ist
dabei akzeptabel.</p>
