


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in La Spezia und Port Said unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad21{,}6\quad24{,}4\quad17{,}8\quad27{,}3\quad17{,}8\\
\textrm{Port Said}
&amp;:\quad19{,}3\quad12{,}5\quad18{,}4\quad19{,}9\quad18{,}7\quad13{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein Signifikanzniveau von
10%.</p>
