


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Liefervolumina für
Papua-Neuguinea eine größere Varianz aufweist als für Nepal.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad19{,}61\quad8{,}79\quad13{,}66\quad11{,}01\quad13{,}06\quad14{,}9\\
\textrm{Nepal}
&amp;:\quad15{,}9\quad10{,}49\quad13{,}35\quad14{,}76\quad12{,}14\quad15{,}86
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 5%.</p>
