


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Kajiado und Nakuru unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad19{,}66\quad16{,}09\quad21{,}21\quad12{,}81\quad18{,}56\quad22{,}11\\
\textrm{Nakuru}
&amp;:\quad20{,}48\quad20{,}19\quad19{,}2\quad13{,}78\quad15{,}67
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
