


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Samburu weniger
konstant sind (stärker streuen) als in Nakuru.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad21{,}3\quad19{,}3\quad21{,}3\quad30{,}5\quad20{,}1\quad18{,}2\quad17{,}9\\
\textrm{Nakuru}
&amp;:\quad17{,}2\quad21{,}6\quad24{,}9\quad18{,}1\quad22{,}7\quad21{,}1
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
