


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Guatemala weniger
konstant sind (stärker streuen) als für Malawi.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad19{,}4\quad15{,}98\quad26{,}51\quad21{,}92\quad16{,}24\quad21{,}46\quad17\\
\textrm{Malawi}
&amp;:\quad18{,}75\quad17{,}44\quad19{,}27\quad20{,}53\quad22{,}05\quad19{,}46
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
