


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Abfertigungszeiten in Mersin
weniger variiert als in İzmir.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad20{,}3\quad17{,}1\quad18{,}3\quad17\quad25{,}4\quad21{,}8\\
\textrm{İzmir}
&amp;:\quad18\quad22{,}3\quad20{,}8\quad30{,}5\quad19{,}5\quad17{,}1\quad16{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
