


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Liefervolumina für Syrien und
Burkina Faso unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad17{,}65\quad20{,}91\quad17{,}53\quad17{,}23\quad14{,}05\quad17{,}62\quad16{,}06\\
\textrm{Burkina Faso}
&amp;:\quad16{,}61\quad15{,}06\quad17{,}8\quad15{,}59\quad13{,}24\quad17{,}18
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
