


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Zeiten zwischen An-
und Ablegen in Ashdod weniger variiert als in Valencia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad25{,}5\quad18{,}6\quad15\quad10{,}1\quad21{,}5\quad13{,}4\quad18\\
\textrm{Valencia}
&amp;:\quad16{,}8\quad15{,}7\quad16{,}7\quad27{,}5\quad15{,}3\quad24{,}9
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
