


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Abfertigungszeiten in Haifa
konstanter sind (weniger streuen) als in Marsaxlokk.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad13{,}5\quad8{,}7\quad25{,}1\quad21{,}8\quad16{,}7\quad25{,}6\\
\textrm{Marsaxlokk}
&amp;:\quad29{,}4\quad12{,}7\quad13{,}5\quad22{,}4\quad18{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
