


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Anzahl der umgeladenen
Container pro Schiff in Marsaxlokk weniger konstant sind (stärker
streuen) als in Genua.</p>
<p>Sie messen die folgenden Containerzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad967\quad729\quad1197\quad771\quad800\quad997\\
\textrm{Genua} &amp;:\quad1000\quad1146\quad821\quad1117\quad896
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
