


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Nakuru weniger konstant sind (stärker streuen) als in
Trans-Nzoia.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad13{,}2\quad21{,}8\quad16{,}8\quad19{,}5\quad15{,}4\quad21{,}9\quad16{,}6\\
\textrm{Trans-Nzoia}
&amp;:\quad14{,}6\quad16{,}5\quad17{,}8\quad9{,}9\quad16{,}2\quad16{,}3
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
