


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Lieferungsmengen für Honduras eine größere Varianz aufweist als für
Malawi.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad7{,}28\quad8{,}92\quad10{,}96\quad12{,}81\quad12{,}16\\
\textrm{Malawi}
&amp;:\quad13{,}28\quad10{,}64\quad12{,}15\quad11{,}23\quad7{,}9\quad7{,}94
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
