


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Guatemala weniger konstant sind (stärker streuen) als für
Papua-Neuguinea.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad20{,}27\quad13{,}48\quad17{,}14\quad12{,}48\quad4{,}21\quad0{,}64\quad11{,}17\\
\textrm{Papua-Neuguinea}
&amp;:\quad17{,}54\quad18{,}78\quad20{,}8\quad19{,}84\quad7{,}76\quad6{,}18
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
