


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in Kericho
und Elgeyo-Marakwet unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kericho}
&amp;:\quad24{,}9\quad19{,}8\quad27\quad26{,}2\quad33{,}7\quad25{,}8\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad26{,}6\quad25{,}2\quad23{,}6\quad24{,}7\quad21\quad19{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 10% ist dabei akzeptabel.</p>
