


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Liegezeiten in Valencia und Marseille
unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad29{,}4\quad10{,}3\quad12{,}1\quad23{,}5\quad23{,}2\quad20{,}8\\
\textrm{Marseille} &amp;:\quad13\quad10\quad9{,}3\quad23{,}9\quad10{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
