


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Liefervolumina
für Nepal eine größere Varianz aufweist als für Honduras.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nepal}
&amp;:\quad20{,}09\quad20{,}89\quad11{,}86\quad18{,}42\quad20{,}46\quad18{,}83\quad21{,}42\\
\textrm{Honduras}
&amp;:\quad19{,}88\quad21{,}67\quad23{,}17\quad19{,}15\quad18{,}58\quad19{,}12
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
