


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Anzahl der umgeladenen Container pro Schiff in
Barcelona stärker variieren als in Koper.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Barcelona}
&amp;:\quad935\quad1373\quad1213\quad1089\quad813\quad1179\quad1060\\
\textrm{Koper} &amp;:\quad862\quad1055\quad879\quad934\quad904\quad807
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie ein Signifikanzniveau von
5%.</p>
