


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Anzahl der umgeladenen
Container pro Schiff in Tanger weniger variiert als in Gioia Tauro.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger} &amp;:\quad872\quad1072\quad807\quad707\quad907\\
\textrm{Gioia Tauro}
&amp;:\quad1426\quad470\quad1375\quad443\quad689\quad153
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
