


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Ertragswerte in Nandi stärker variieren
als in Nakuru.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad25{,}84\quad20{,}76\quad15{,}54\quad35{,}31\quad23{,}13\quad22{,}9\\
\textrm{Nakuru}
&amp;:\quad21{,}45\quad26{,}81\quad22{,}56\quad16{,}71\quad28{,}26\quad23{,}92\quad24{,}03
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
