


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Turkana und West Pokot unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad19{,}16\quad20{,}8\quad16{,}07\quad19{,}32\quad19{,}88\quad18{,}76\\
\textrm{West Pokot}
&amp;:\quad12{,}17\quad12{,}71\quad13{,}58\quad13{,}79\quad23{,}02\quad22{,}07\quad27{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 10%.</p>
