


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Erträge in Nakuru stärker variieren als in
Bomet.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad25{,}96\quad18{,}84\quad11{,}64\quad14{,}33\quad19{,}04\\
\textrm{Bomet}
&amp;:\quad12{,}25\quad17{,}06\quad13{,}01\quad13{,}13\quad18{,}44\quad18{,}24
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
