


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Baringo weniger variiert als in Trans-Nzoia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad13{,}71\quad23{,}45\quad20{,}01\quad24{,}54\quad26{,}91\quad19{,}64\\
\textrm{Trans-Nzoia}
&amp;:\quad13{,}9\quad30{,}85\quad23{,}11\quad21{,}53\quad20{,}83\quad17{,}72\quad27{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
