


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Sie vermuten, dass die Erträge in Trans-Nzoia und Samburu
unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad21{,}8\quad21{,}99\quad17{,}54\quad18{,}65\quad23{,}05\\
\textrm{Samburu}
&amp;:\quad20{,}31\quad21{,}24\quad19{,}67\quad23{,}37\quad22{,}25\quad14{,}79
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
