


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Umschlagzahlen pro Schiff in Ashdod eine größere Varianz aufweist als in
Genua.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod} &amp;:\quad1338\quad1286\quad1142\quad1109\quad1008\\
\textrm{Genua}
&amp;:\quad1121\quad1023\quad1117\quad1270\quad1038\quad1013
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
