


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liegezeiten in
Tanger und Barcelona unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad16{,}5\quad25{,}6\quad28{,}4\quad24{,}8\quad20{,}6\quad21{,}9\\
\textrm{Barcelona}
&amp;:\quad17{,}6\quad19{,}1\quad17\quad17{,}1\quad25{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
