


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Liefervolumina für Papua-Neuguinea
und Malawi unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad12{,}04\quad18{,}15\quad14{,}22\quad21{,}96\quad22{,}27\quad18{,}37\\
\textrm{Malawi}
&amp;:\quad15{,}98\quad13{,}92\quad18{,}45\quad24{,}7\quad12{,}05
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
