


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Abfertigungszeiten in Gioia
Tauro weniger konstant sind (stärker streuen) als in Tanger.</p>
<p>Sie messen die folgenden Abfertigungszeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad20{,}3\quad24{,}5\quad19{,}1\quad14\quad19{,}1\quad16{,}2\\
\textrm{Tanger}
&amp;:\quad16{,}9\quad18{,}7\quad18{,}7\quad15{,}1\quad17{,}9\quad17{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
