


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Ertragsmengen in Narok und Turkana
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad21{,}08\quad23{,}17\quad23{,}16\quad18{,}67\quad21{,}7\quad25{,}45\quad18{,}59\\
\textrm{Turkana}
&amp;:\quad18{,}5\quad21{,}5\quad21{,}12\quad26{,}42\quad21{,}86\quad22{,}37
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Signifikanzniveau
von 10% ist dabei akzeptabel.</p>
