


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Zimbabwe und Burkina
Faso unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad9{,}15\quad13{,}92\quad13{,}46\quad13{,}92\quad6{,}18\\
\textrm{Burkina Faso}
&amp;:\quad9{,}88\quad11{,}25\quad9{,}2\quad12{,}12\quad11{,}73\quad13{,}54\quad13{,}62
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 10%.</p>
