


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Kajiado weniger
konstant sind (stärker streuen) als in Samburu.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad21{,}63\quad15{,}85\quad23\quad16{,}8\quad15{,}56\quad21{,}28\quad15{,}39\\
\textrm{Samburu}
&amp;:\quad15{,}83\quad18{,}2\quad13{,}68\quad18{,}5\quad19{,}59\quad20
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
