


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Kajiado
stärker variieren als in Samburu.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad18{,}8\quad17{,}5\quad16{,}5\quad22{,}5\quad25{,}1\quad18{,}1\quad17{,}9\\
\textrm{Samburu}
&amp;:\quad18{,}5\quad20\quad21{,}6\quad25{,}2\quad24{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
