


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen pro Schiff in Valencia
konstanter sind (weniger streuen) als in Haifa.</p>
<p>Sie messen die folgenden Umschlagzahlen pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia} &amp;:\quad1113\quad1134\quad669\quad1069\quad801\\
\textrm{Haifa} &amp;:\quad1301\quad1241\quad883\quad556\quad838\quad869
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie dabei 5%
als Signifikanzniveau.</p>
