


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Syrien stärker variieren
als für Jordanien.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad10{,}71\quad9{,}48\quad17{,}97\quad13{,}52\quad12{,}52\quad5{,}53\\
\textrm{Jordanien}
&amp;:\quad6{,}39\quad11{,}9\quad8{,}72\quad6{,}34\quad15{,}93\quad13{,}27
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
