


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in Marsaxlokk stärker variieren als in Damiette.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liegezeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad15{,}5\quad23{,}3\quad16{,}5\quad25{,}2\quad8{,}3\\
\textrm{Damiette}
&amp;:\quad11{,}8\quad18{,}5\quad13{,}3\quad18{,}8\quad20{,}6\quad19{,}9\quad17{,}3
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
