


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Nakuru
und Trans-Nzoia unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad11{,}9\quad21{,}5\quad14\quad17{,}4\quad14{,}2\\
\textrm{Trans-Nzoia}
&amp;:\quad16{,}1\quad21{,}5\quad18{,}4\quad14{,}6\quad19{,}6\quad15{,}2
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
