


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagsmengen
in Nandi stärker variieren als in Baringo.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad12{,}9\quad17{,}8\quad16{,}1\quad13{,}6\quad19{,}7\\
\textrm{Baringo}
&amp;:\quad14{,}2\quad15{,}6\quad20{,}4\quad17{,}5\quad17{,}6\quad19{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
