


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen pro Schiff in
Alexandria stärker variieren als in İzmir.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Containerzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad1561\quad506\quad1523\quad843\quad845\quad973\quad816\\
\textrm{İzmir} &amp;:\quad724\quad1024\quad433\quad734\quad948\quad548
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
