


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Baringo weniger
variiert als in Turkana.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad28{,}01\quad25{,}84\quad26{,}53\quad21{,}13\quad20{,}78\quad32{,}38\quad28{,}04\\
\textrm{Turkana}
&amp;:\quad29{,}04\quad25{,}79\quad24{,}15\quad15{,}29\quad19{,}97\quad19{,}27
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
5% für ein falsch-positives Ergebnis.</p>
