


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Zeiten zwischen An- und Ablegen in Haifa eine kleinere Varianz aufweist
als in Port Said.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad25{,}8\quad18{,}7\quad12{,}4\quad17{,}7\quad14{,}1\quad19{,}6\\
\textrm{Port Said}
&amp;:\quad22{,}6\quad26{,}3\quad19\quad32{,}2\quad19{,}9\quad11{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
