


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Kambodscha und Jordanien unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad13{,}58\quad7{,}04\quad11{,}69\quad3{,}16\quad15{,}53\quad4{,}27\quad14{,}12\\
\textrm{Jordanien}
&amp;:\quad7{,}19\quad12{,}36\quad13{,}28\quad8{,}15\quad10{,}72\quad4{,}79
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Alphafehler von 10% ist dabei
akzeptabel.</p>
