


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Tunesien
weniger variiert als für Burkina Faso.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad22{,}13\quad21{,}37\quad19{,}12\quad19{,}43\quad20{,}69\\
\textrm{Burkina Faso}
&amp;:\quad21{,}14\quad15{,}95\quad15{,}73\quad22{,}34\quad24{,}33\quad20{,}22
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
