


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in
Elgeyo-Marakwet weniger variiert als in Nandi.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad19{,}9\quad16{,}2\quad17{,}3\quad12{,}9\quad17{,}6\quad16{,}1\\
\textrm{Nandi}
&amp;:\quad10{,}8\quad14{,}8\quad10{,}2\quad23{,}9\quad8{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
