


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Niederschlagswerte
in Baringo eine kleinere Varianz aufweist als in Elgeyo-Marakwet.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad27{,}2\quad21{,}4\quad24{,}4\quad25{,}4\quad21{,}9\quad21{,}2\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad27\quad18{,}1\quad18\quad22\quad30{,}2\quad24{,}9\quad23{,}7
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
