


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Liegezeiten in İstanbul konstanter sind
(weniger streuen) als in Haifa.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul}
&amp;:\quad18{,}3\quad13\quad18{,}7\quad19{,}5\quad17{,}1\quad23{,}3\\
\textrm{Haifa}
&amp;:\quad28{,}8\quad13{,}8\quad22{,}5\quad13{,}8\quad18{,}5\quad17{,}6
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
