


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Kajiado und Samburu unterschiedlich stark variieren.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad17{,}68\quad21{,}81\quad13{,}53\quad18{,}88\quad13{,}34\quad15{,}92\\
\textrm{Samburu}
&amp;:\quad13{,}3\quad12{,}95\quad15{,}86\quad17{,}12\quad24{,}02\quad14{,}43\quad18{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
