


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Erträge in Samburu und Bomet
unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad17{,}05\quad11{,}25\quad14{,}89\quad26{,}11\quad15{,}85\quad16{,}12\\
\textrm{Bomet}
&amp;:\quad16{,}98\quad18{,}98\quad18{,}97\quad16{,}11\quad24{,}09\quad17{,}47
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von
10% ist dabei akzeptabel.</p>
