


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Ertragswerte in Bomet weniger
konstant sind (stärker streuen) als in Kajiado.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad22{,}04\quad17{,}42\quad24{,}1\quad19{,}09\quad29{,}17\quad23{,}18\\
\textrm{Kajiado}
&amp;:\quad22{,}8\quad21{,}68\quad17{,}56\quad25{,}53\quad26{,}57\quad21{,}34\quad23{,}71
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
