


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Erträge in Bomet und Turkana
unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragsmengen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad23{,}96\quad25{,}87\quad16{,}11\quad20{,}93\quad21{,}41\quad17{,}1\\
\textrm{Turkana}
&amp;:\quad16{,}39\quad19{,}49\quad16{,}17\quad15{,}1\quad13{,}88\quad17{,}8\quad16{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 10% auftreten.</p>
