


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Liegezeiten in Algeciras weniger konstant
sind (stärker streuen) als in Koper.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad26{,}2\quad25{,}4\quad20{,}3\quad18{,}2\quad22{,}9\quad18{,}9\\
\textrm{Koper}
&amp;:\quad19{,}7\quad20{,}7\quad22{,}1\quad12{,}7\quad19{,}5\quad16{,}3\quad21
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
