


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Tunesien
weniger konstant sind (stärker streuen) als für Papua-Neuguinea.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad7{,}28\quad9{,}88\quad18{,}57\quad9{,}56\quad11{,}13\quad14{,}04\\
\textrm{Papua-Neuguinea}
&amp;:\quad8{,}4\quad10{,}03\quad15{,}39\quad9{,}45\quad8{,}96\quad5{,}36\quad13{,}66
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
