


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Umschlagzahlen
pro Schiff in Piräus eine größere Varianz aufweist als in Marseille.</p>
<p>Sie messen die folgenden Umschlagzahlen je Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus} &amp;:\quad21\quad517\quad936\quad671\quad787\\
\textrm{Marseille}
&amp;:\quad1517\quad1623\quad1605\quad1225\quad1152\quad1046
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
