


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragsmengen in Nandi stärker
variieren als in Narok.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad15{,}35\quad13{,}39\quad13{,}77\quad15{,}19\quad21{,}75\quad16{,}65\quad14{,}61\\
\textrm{Narok}
&amp;:\quad19{,}13\quad15{,}63\quad19{,}01\quad13{,}94\quad14{,}63\quad13{,}07
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
