


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für
Aserbaidschan konstanter sind (weniger streuen) als für Burkina
Faso.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Aserbaidschan}
&amp;:\quad8{,}28\quad13{,}15\quad22{,}31\quad19{,}23\quad11{,}4\quad16{,}53\\
\textrm{Burkina Faso}
&amp;:\quad24{,}65\quad8{,}7\quad18{,}33\quad24{,}45\quad0{,}88\quad2{,}55
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
