


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragswerte in Bomet eine größere Varianz aufweist als in
Trans-Nzoia.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad16{,}11\quad15{,}28\quad17{,}22\quad15{,}2\quad19{,}84\\
\textrm{Trans-Nzoia}
&amp;:\quad17{,}95\quad15{,}99\quad15{,}75\quad18{,}44\quad18{,}3\quad17{,}45\quad16{,}25
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
