


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Zimbabwe weniger
variiert als für Jemen.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad9{,}43\quad15{,}46\quad15{,}07\quad13{,}47\quad16{,}5\quad13{,}47\\
\textrm{Jemen}
&amp;:\quad15{,}8\quad15{,}24\quad13{,}43\quad10{,}06\quad17{,}79\quad16{,}67
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
