


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Honduras
und Burkina Faso unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad4{,}75\quad15{,}18\quad14{,}18\quad13{,}24\quad11{,}53\quad9{,}66\\
\textrm{Burkina Faso}
&amp;:\quad10{,}9\quad17{,}36\quad14{,}92\quad12{,}68\quad7{,}6\quad10{,}42
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
