


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Ertragsmengen in
West Pokot und Samburu unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad20{,}44\quad17{,}34\quad17{,}39\quad20{,}51\quad22{,}11\quad20{,}15\\
\textrm{Samburu}
&amp;:\quad18{,}59\quad21{,}32\quad18{,}59\quad21{,}42\quad14{,}22\quad18{,}61\quad22{,}34
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von
10% ist dabei akzeptabel.</p>
