


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Uasin Gishu stärker variieren als in Nakuru.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad20{,}78\quad16{,}64\quad22{,}6\quad25{,}52\quad24{,}89\quad16{,}12\\
\textrm{Nakuru}
&amp;:\quad18{,}91\quad15{,}04\quad20{,}31\quad17{,}86\quad22{,}86
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 5%.</p>
