


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Liefervolumina
für Tunesien und Zimbabwe unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad18{,}81\quad18{,}7\quad18{,}7\quad14{,}96\quad15\quad13{,}77\\
\textrm{Zimbabwe}
&amp;:\quad19{,}62\quad6{,}34\quad7{,}69\quad22{,}15\quad11{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 10% ist dabei akzeptabel.</p>
