


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Abfertigungszeiten in Haifa eine größere Varianz aufweist als in
Alexandria.</p>
<p>Sie messen die folgenden Zeiten zwischen An- und Ablegen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad28{,}6\quad15{,}4\quad12{,}2\quad10{,}9\quad18{,}6\quad12{,}4\\
\textrm{Alexandria}
&amp;:\quad21{,}1\quad20{,}3\quad15{,}4\quad17\quad24\quad23{,}8\quad25{,}8
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
