


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Erträge in Turkana stärker
variieren als in Kajiado.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad10{,}74\quad20{,}35\quad14{,}15\quad18{,}16\quad24{,}02\quad18{,}6\\
\textrm{Kajiado}
&amp;:\quad24{,}21\quad21{,}57\quad28{,}16\quad25{,}93\quad16{,}76\quad22{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
