


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Ertragsmengen in
Uasin Gishu und Trans-Nzoia unterschiedliche Varianzen aufweisen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad19{,}56\quad15{,}55\quad19{,}26\quad17{,}27\quad16{,}94\quad10{,}76\quad19{,}58\\
\textrm{Trans-Nzoia}
&amp;:\quad22{,}52\quad14{,}77\quad21{,}33\quad15{,}52\quad12{,}93\quad22{,}31
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
