


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Verteilung der Liegezeiten in Gioia Tauro
eine größere Varianz aufweist als in Haifa.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad15{,}1\quad11{,}5\quad15{,}3\quad15{,}1\quad17{,}3\quad26{,}3\\
\textrm{Haifa}
&amp;:\quad17\quad15{,}5\quad22{,}2\quad16{,}1\quad21{,}4\quad13
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
