


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Niederschlagswerte
in Trans-Nzoia eine größere Varianz aufweist als in Nandi.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad26{,}8\quad28\quad11{,}2\quad18{,}6\quad21{,}7\quad19{,}3\\
\textrm{Nandi}
&amp;:\quad24\quad15{,}5\quad16{,}3\quad20{,}4\quad17{,}1\quad18{,}1\quad20{,}4
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
