


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Niederschlagsmengen in Uasin Gishu und
Nandi unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad15{,}3\quad9{,}9\quad16\quad20{,}4\quad15{,}3\\
\textrm{Nandi}
&amp;:\quad19{,}8\quad17{,}2\quad17{,}2\quad20{,}1\quad27\quad20{,}6\quad14{,}1
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 10% für ein
falsch-positives Ergebnis.</p>
