


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Umschlagzahlen pro Schiff in Marseille eine kleinere Varianz aufweist
als in Alexandria.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille}
&amp;:\quad943\quad906\quad1137\quad1678\quad1101\quad726\quad685\\
\textrm{Alexandria}
&amp;:\quad579\quad1526\quad820\quad707\quad904\quad1501
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie dabei 5%
als Signifikanzniveau.</p>
