


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Lieferungsmengen
für Burkina Faso eine größere Varianz aufweist als für Honduras.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad16{,}28\quad19{,}91\quad13{,}76\quad23{,}92\quad15{,}9\\
\textrm{Honduras}
&amp;:\quad17{,}31\quad16{,}98\quad16{,}76\quad17{,}34\quad16{,}09\quad14{,}73\quad18{,}38
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
