


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragsmengen in Baringo eine größere Varianz aufweist als in Bomet.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad24{,}12\quad18{,}14\quad12{,}75\quad14{,}42\quad14{,}99\quad17{,}85\\
\textrm{Bomet}
&amp;:\quad17{,}4\quad18{,}7\quad16{,}55\quad21{,}56\quad17{,}94\quad16{,}96\quad20{,}23
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
