


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Liefervolumina für Jemen
konstanter sind (weniger streuen) als für Papua-Neuguinea.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad11{,}42\quad5{,}98\quad10{,}25\quad6{,}32\quad14{,}49\quad12{,}81\\
\textrm{Papua-Neuguinea}
&amp;:\quad23{,}33\quad14{,}09\quad8{,}96\quad5{,}2\quad8{,}32
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 5%.</p>
