


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Containerzahlen je Schiff in Genua
weniger variiert als in Koper.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad1264\quad845\quad1504\quad1104\quad732\quad1073\\
\textrm{Koper} &amp;:\quad985\quad1253\quad588\quad592\quad1150
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
