


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Verteilungen der Liegezeiten in Haifa und
Tanger unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liegezeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad17{,}6\quad18{,}7\quad16{,}1\quad16\quad15{,}7\quad11{,}3\\
\textrm{Tanger}
&amp;:\quad24{,}3\quad22{,}7\quad19{,}9\quad18{,}8\quad20{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
