


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Umschlagzahlen je Schiff in Port
Said und Piräus unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Port Said}
&amp;:\quad1345\quad1277\quad564\quad635\quad819\quad700\\
\textrm{Piräus} &amp;:\quad463\quad792\quad1172\quad1481\quad742
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
