


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es besteht die Vermutung, dass die Zeiten zwischen An- und Ablegen in
Algeciras konstanter sind (weniger streuen) als in İzmir.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad22\quad15{,}4\quad18{,}2\quad21{,}4\quad21{,}8\quad19{,}3\\
\textrm{İzmir}
&amp;:\quad19{,}4\quad19{,}3\quad18{,}5\quad19{,}8\quad11{,}1\quad22{,}3\quad21{,}6
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
