


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Abfertigungszeiten in Marsaxlokk und Ashdod
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad5{,}7\quad12{,}5\quad24{,}4\quad23{,}2\quad14\quad16{,}5\\
\textrm{Ashdod}
&amp;:\quad21{,}2\quad17{,}2\quad21{,}7\quad18{,}1\quad27{,}1
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
10% ist dabei akzeptabel.</p>
