


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
West Pokot und Kericho unterschiedlich stark variieren.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad14{,}39\quad17{,}72\quad16{,}21\quad12{,}62\quad12{,}87\quad14{,}87\\
\textrm{Kericho}
&amp;:\quad17{,}96\quad19{,}32\quad19{,}28\quad16{,}76\quad19{,}17\quad16{,}54
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
