


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der
Liefervolumina für Jordanien und Guatemala unterschiedliche Varianzen
aufweisen.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jordanien}
&amp;:\quad18{,}93\quad14{,}86\quad18{,}11\quad20{,}69\quad18{,}72\\
\textrm{Guatemala}
&amp;:\quad17{,}55\quad18{,}24\quad13{,}01\quad27{,}46\quad15{,}47\quad16{,}32
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
