


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Honduras weniger konstant sind (stärker streuen) als für
Papua-Neuguinea.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad14{,}35\quad12{,}35\quad8{,}91\quad9{,}74\quad19{,}09\quad12{,}57\quad23{,}96\\
\textrm{Papua-Neuguinea}
&amp;:\quad9{,}54\quad16{,}29\quad8{,}17\quad10{,}26\quad10{,}86\quad19{,}42
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
