


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Containerzahlen je Schiff in
Ashdod weniger variiert als in Koper.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad1184\quad1457\quad106\quad591\quad1462\quad381\\
\textrm{Koper} &amp;:\quad1657\quad675\quad225\quad825\quad2027
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
