


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Honduras weniger
konstant sind (stärker streuen) als für Guatemala.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad14{,}65\quad19{,}32\quad27{,}82\quad10{,}04\quad18{,}34\quad23{,}14\quad22{,}59\\
\textrm{Guatemala}
&amp;:\quad23{,}11\quad22{,}2\quad14{,}32\quad15{,}82\quad15{,}38\quad17{,}26
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
