


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Liefervolumina für Zimbabwe eine kleinere Varianz aufweist als für
Honduras.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad15{,}37\quad5{,}66\quad15{,}23\quad19{,}54\quad16{,}44\quad12{,}33\quad20{,}66\\
\textrm{Honduras}
&amp;:\quad6{,}17\quad20{,}1\quad8{,}49\quad11{,}49\quad26{,}44\quad20{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 5%.</p>
