


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Abfertigungszeiten in Marsaxlokk und Port Said unterschiedliche
Varianzen aufweisen.</p>
<p>Sie messen die folgenden Zeiten zwischen An- und Ablegen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marsaxlokk}
&amp;:\quad20{,}5\quad15{,}7\quad21{,}4\quad28{,}3\quad13{,}1\quad15{,}5\quad11{,}6\\
\textrm{Port Said}
&amp;:\quad13{,}5\quad7{,}7\quad19{,}8\quad18{,}7\quad21{,}5
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
