


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Liefervolumina für Honduras und
Guatemala unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad11{,}92\quad11{,}22\quad10{,}42\quad12{,}58\quad11{,}37\quad16{,}87\\
\textrm{Guatemala}
&amp;:\quad11{,}18\quad15{,}13\quad14{,}11\quad21\quad23{,}55\quad21{,}68\quad16{,}49
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
