


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragswerte in Bomet eine kleinere Varianz aufweist als in Samburu.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad16{,}39\quad16{,}73\quad17{,}97\quad22{,}84\quad12{,}92\quad19{,}71\\
\textrm{Samburu}
&amp;:\quad21{,}72\quad18{,}5\quad24{,}84\quad14{,}91\quad27{,}18\quad14{,}73\quad27{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
