


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Senegal und
Kambodscha unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad11{,}33\quad12{,}28\quad3{,}18\quad15{,}32\quad5{,}09\\
\textrm{Kambodscha}
&amp;:\quad10{,}91\quad4{,}44\quad16{,}67\quad7{,}14\quad14{,}8\quad7{,}98\quad9{,}65
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
