


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Abfertigungszeiten in Genua und La
Spezia unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad29{,}1\quad8{,}9\quad17{,}8\quad15{,}6\quad19\quad21{,}8\\
\textrm{La Spezia}
&amp;:\quad15{,}7\quad20{,}8\quad21{,}1\quad24{,}3\quad21{,}4\quad13{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
