


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Liegezeiten in Algeciras und Haifa
unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Zeiten zwischen An- und
Ablegen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad19{,}6\quad17{,}4\quad23{,}1\quad19{,}5\quad16\quad23{,}8\quad12{,}3\\
\textrm{Haifa} &amp;:\quad14{,}3\quad18\quad18{,}4\quad14{,}8\quad17{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Fehler 1. Art darf
dabei zu 10% auftreten.</p>
