


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
Algeciras weniger konstant sind (stärker streuen) als in Genua.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad1270\quad919\quad1076\quad821\quad931\quad1049\quad1041\\
\textrm{Genua} &amp;:\quad937\quad684\quad639\quad664\quad786
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
