


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilung der Umschlagzahlen pro Schiff in
Algeciras eine größere Varianz aufweist als in Valencia.</p>
<p>Sie messen die folgenden Umschlagzahlen pro Schiff (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad1087\quad1053\quad964\quad831\quad1136\quad1310\\
\textrm{Valencia} &amp;:\quad1258\quad1136\quad1147\quad1290\quad1446
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
