


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liegezeiten in
Piräus stärker variieren als in Koper.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus}
&amp;:\quad17\quad24{,}6\quad12{,}3\quad20{,}9\quad14\quad22{,}7\quad8{,}8\\
\textrm{Koper}
&amp;:\quad22{,}4\quad20{,}4\quad25{,}2\quad25{,}1\quad16{,}9\quad18{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
