


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Niederschlagsmengen in
Laikipia eine kleinere Varianz aufweist als in Samburu.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad21{,}6\quad23{,}8\quad19{,}8\quad23{,}7\quad21\quad17{,}7\\
\textrm{Samburu}
&amp;:\quad21{,}8\quad23\quad27{,}4\quad25{,}5\quad21{,}5\quad21{,}1\quad18{,}7
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
