


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Ertragswerte in
Elgeyo-Marakwet eine größere Varianz aufweist als in Nakuru.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad21{,}33\quad19{,}31\quad16{,}63\quad25{,}52\quad21{,}69\quad20{,}16\quad24{,}32\\
\textrm{Nakuru}
&amp;:\quad20{,}91\quad18{,}35\quad20{,}47\quad16{,}07\quad16{,}22\quad18{,}29
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
