


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Niederschlagswerte in Nandi und Trans-Nzoia unterschiedliche Varianzen
aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad32{,}8\quad19{,}5\quad26{,}3\quad20{,}5\quad22{,}4\quad18{,}8\\
\textrm{Trans-Nzoia}
&amp;:\quad14{,}8\quad17{,}7\quad19{,}7\quad21{,}7\quad20{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
