


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Erträge in Laikipia
eine kleinere Varianz aufweist als in Bomet.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad23{,}54\quad10{,}28\quad22{,}86\quad16{,}52\quad15{,}16\quad20{,}05\quad25{,}98\\
\textrm{Bomet}
&amp;:\quad17{,}02\quad15{,}98\quad5{,}86\quad16{,}58\quad21{,}24\quad31{,}91
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
