


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Tunesien weniger konstant sind (stärker streuen) als für Jemen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad3{,}08\quad6{,}66\quad10{,}78\quad14\quad8{,}28\quad9{,}57\\
\textrm{Jemen}
&amp;:\quad17{,}07\quad9{,}88\quad11{,}76\quad11{,}7\quad8{,}41\quad10{,}86\quad14{,}09
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
