


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagswerte in Uasin Gishu konstanter
sind (weniger streuen) als in Kericho.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad12{,}9\quad14{,}8\quad15{,}7\quad17{,}3\quad20{,}7\quad12{,}8\\
\textrm{Kericho}
&amp;:\quad13{,}1\quad13{,}2\quad16\quad18{,}3\quad16{,}4\quad8{,}2\quad8{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
