


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Liegezeiten in Gioia Tauro
konstanter sind (weniger streuen) als in Marseille.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad14{,}4\quad17{,}8\quad14{,}1\quad15{,}4\quad10{,}8\quad30{,}5\\
\textrm{Marseille}
&amp;:\quad27{,}5\quad24{,}7\quad32{,}9\quad14{,}6\quad17{,}7\quad10{,}6
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
