


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in Damiette weniger variiert als in Marseille.</p>
<p>Sie messen die folgenden Liegezeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad22{,}1\quad11{,}5\quad16{,}7\quad22{,}6\quad14\quad23\\
\textrm{Marseille}
&amp;:\quad21{,}4\quad17{,}4\quad24{,}6\quad15{,}3\quad24{,}4\quad12
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 5%.</p>
