


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Abfertigungszeiten
in Ashdod konstanter sind (weniger streuen) als in Barcelona.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad25{,}6\quad21{,}8\quad20{,}9\quad20{,}1\quad27\\
\textrm{Barcelona}
&amp;:\quad26{,}3\quad27{,}9\quad5{,}6\quad19{,}1\quad18{,}7\quad17
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
