


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Uasin Gishu stärker variieren als in Samburu.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad20{,}3\quad24{,}3\quad19{,}2\quad22{,}5\quad32{,}3\\
\textrm{Samburu}
&amp;:\quad24{,}4\quad23{,}7\quad23{,}3\quad14{,}6\quad19{,}4\quad16
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
