


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jemen
konstanter sind (weniger streuen) als für Burkina Faso.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad21{,}48\quad8{,}99\quad7{,}17\quad15{,}61\quad7{,}01\\
\textrm{Burkina Faso}
&amp;:\quad17{,}71\quad13{,}46\quad4{,}35\quad5{,}69\quad17{,}66\quad11{,}11\quad26{,}44
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 5% ist dabei
akzeptabel.</p>
