


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es besteht die Vermutung, dass die Zeiten zwischen An- und Ablegen in
Damiette weniger variiert als in Barcelona.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad21{,}8\quad15{,}9\quad23{,}3\quad18{,}2\quad21{,}5\quad18{,}2\quad22{,}4\\
\textrm{Barcelona}
&amp;:\quad23{,}2\quad20{,}7\quad7{,}5\quad22{,}7\quad26{,}3\quad17{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
