


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Erträge in Laikipia eine kleinere Varianz aufweist als in Kajiado.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad16{,}76\quad12{,}65\quad21{,}19\quad25{,}48\quad18{,}34\quad21{,}27\quad14{,}97\\
\textrm{Kajiado}
&amp;:\quad21{,}74\quad22{,}93\quad17{,}12\quad18{,}61\quad8{,}71\quad21{,}56
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
