


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragswerte in
Narok weniger variiert als in Nandi.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad19{,}8\quad25{,}27\quad25{,}66\quad22{,}74\quad25{,}4\\
\textrm{Nandi}
&amp;:\quad21{,}8\quad18{,}78\quad20{,}9\quad20{,}77\quad17{,}41\quad27{,}43
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
