


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in Bomet
konstanter sind (weniger streuen) als in Samburu.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad21\quad16{,}3\quad22{,}8\quad21{,}7\quad19{,}4\quad24{,}8\quad25{,}8\\
\textrm{Samburu}
&amp;:\quad22{,}8\quad18{,}8\quad19{,}1\quad11{,}3\quad17{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
