


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Abfertigungszeiten in İstanbul weniger
konstant sind (stärker streuen) als in Marsaxlokk.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İstanbul}
&amp;:\quad14{,}7\quad16{,}3\quad9{,}6\quad22{,}6\quad21{,}3\quad10{,}9\\
\textrm{Marsaxlokk}
&amp;:\quad15{,}1\quad21{,}6\quad17{,}9\quad13{,}4\quad24{,}4
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
