


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Anzahl der
umgeladenen Container pro Schiff in Algeciras und Port Said
unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad1335\quad1508\quad653\quad1281\quad887\quad1119\\
\textrm{Port Said}
&amp;:\quad1174\quad1158\quad1554\quad1181\quad943\quad432
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Ein Signifikanzniveau von
10% ist dabei akzeptabel.</p>
