


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der
Niederschlagswerte in Kajiado und Elgeyo-Marakwet unterschiedliche
Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad14{,}4\quad20{,}5\quad18{,}5\quad17{,}7\quad18\quad20{,}5\quad14{,}4\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad23{,}4\quad22{,}3\quad21{,}7\quad21{,}8\quad14\quad14{,}2
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
