


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Verteilungen der Anzahl der umgeladenen
Container pro Schiff in Gioia Tauro und İstanbul unterschiedliche
Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad838\quad844\quad1053\quad1392\quad810\quad795\quad1191\\
\textrm{İstanbul}
&amp;:\quad1046\quad1253\quad1703\quad792\quad1189\quad1675
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
