


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für
Kambodscha und Jordanien unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad14{,}41\quad19{,}81\quad12{,}42\quad12{,}59\quad13{,}83\\
\textrm{Jordanien}
&amp;:\quad18{,}13\quad15{,}36\quad17{,}76\quad15{,}75\quad20{,}19\quad16{,}14
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
