


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagsmengen in Uasin Gishu
weniger variiert als in Nakuru.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad26{,}2\quad11{,}9\quad13{,}4\quad19{,}8\quad23{,}8\quad21{,}7\\
\textrm{Nakuru}
&amp;:\quad15{,}3\quad30{,}6\quad22{,}4\quad26{,}5\quad33{,}7\quad15{,}2\quad20
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
