


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Lieferungsmengen
für Jemen eine größere Varianz aufweist als für Burkina Faso.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad7{,}35\quad21{,}88\quad18{,}99\quad18{,}67\quad21{,}57\quad17{,}62\\
\textrm{Burkina Faso}
&amp;:\quad21{,}23\quad23{,}52\quad12{,}05\quad14{,}31\quad19{,}22
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
