


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Honduras stärker variieren als für Burkina Faso.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad9{,}68\quad17{,}26\quad17{,}89\quad12{,}21\quad24{,}21\\
\textrm{Burkina Faso}
&amp;:\quad14{,}08\quad18{,}95\quad20{,}19\quad19{,}79\quad17{,}88\quad14{,}62
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Alphafehler von 5%
ist dabei akzeptabel.</p>
