


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Abfertigungszeiten in Marseille
und Damiette unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Marseille}
&amp;:\quad21{,}8\quad6{,}2\quad16{,}3\quad9{,}6\quad17{,}6\quad15{,}3\quad20{,}2\\
\textrm{Damiette}
&amp;:\quad14{,}9\quad18{,}9\quad14{,}7\quad16\quad25{,}5\quad22{,}2
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
