


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Verteilungen der Lieferungsmengen für Burkina
Faso und Nepal unterschiedliche Varianzen aufweisen.</p>
<p>Sie messen die folgenden Liefervolumina (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad17{,}2\quad15{,}33\quad7{,}43\quad13{,}72\quad10{,}92\quad20{,}36\\
\textrm{Nepal}
&amp;:\quad12{,}53\quad9{,}03\quad14{,}08\quad14{,}74\quad11{,}42
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Ein Signifikanzniveau
von 10% ist dabei akzeptabel.</p>
