


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Sie vermuten, dass die Verteilung der Liegezeiten in Piräus eine
kleinere Varianz aufweist als in Mersin.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus}
&amp;:\quad21{,}4\quad19{,}3\quad25\quad18{,}2\quad19{,}7\quad20{,}1\\
\textrm{Mersin}
&amp;:\quad20{,}8\quad19{,}2\quad25{,}6\quad18{,}6\quad19{,}5\quad15
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie ein
Signifikanzniveau von 5%.</p>
