


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagsmengen in Uasin Gishu
und Baringo unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad24{,}3\quad19{,}8\quad28{,}9\quad16{,}6\quad18{,}5\quad19{,}5\quad18{,}5\\
\textrm{Baringo}
&amp;:\quad14{,}4\quad21{,}9\quad18\quad20{,}5\quad22\quad23{,}8
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 10%.</p>
