


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Containerzahlen je Schiff in Valencia und Piräus unterschiedliche
Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad1268\quad813\quad810\quad1343\quad1178\quad1358\quad909\\
\textrm{Piräus}
&amp;:\quad1091\quad500\quad1181\quad1250\quad887\quad827
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
