


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Verteilung der Niederschlagsmengen in West
Pokot eine größere Varianz aufweist als in Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad17{,}2\quad15{,}4\quad22{,}9\quad17{,}5\quad18{,}4\quad12{,}5\\
\textrm{Laikipia}
&amp;:\quad22{,}7\quad19\quad17{,}2\quad16{,}2\quad17{,}2
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
