


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Ertragsmengen in Elgeyo-Marakwet und Bomet
unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad14{,}27\quad17{,}78\quad18{,}45\quad25{,}02\quad18{,}18\quad19{,}05\\
\textrm{Bomet}
&amp;:\quad27{,}36\quad19{,}13\quad20{,}94\quad14{,}18\quad21{,}48\quad20{,}96
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
