


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Kambodscha konstanter sind (weniger streuen) als für Burkina Faso.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad10{,}41\quad16{,}53\quad20{,}38\quad20{,}4\quad20{,}07\\
\textrm{Burkina Faso}
&amp;:\quad16{,}58\quad21{,}37\quad11{,}5\quad24{,}78\quad19{,}59\quad11{,}56
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
