


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Samburu und Narok unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad18{,}15\quad20{,}59\quad22{,}38\quad20{,}55\quad25{,}26\quad19{,}79\\
\textrm{Narok}
&amp;:\quad20{,}83\quad21{,}11\quad19{,}64\quad24{,}32\quad22{,}48
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
