


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Bomet und Turkana unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragsmengen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad20{,}22\quad20{,}9\quad21{,}99\quad18{,}49\quad22{,}63\quad17{,}05\\
\textrm{Turkana}
&amp;:\quad20{,}5\quad20{,}65\quad20{,}97\quad17{,}48\quad18{,}97\quad20{,}63\quad19{,}33
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
10% für ein falsch-positives Ergebnis.</p>
