


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Sie vermuten, dass die Ertragsmengen in Narok konstanter sind
(weniger streuen) als in West Pokot.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragsmengen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad22{,}17\quad19{,}84\quad18{,}6\quad24{,}75\quad19{,}46\quad24{,}04\\
\textrm{West Pokot}
&amp;:\quad18{,}23\quad18{,}18\quad18{,}93\quad14{,}8\quad20{,}56\quad23{,}29\quad18{,}93
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
