


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Liegezeiten in
Mersin und Tanger unterschiedliche Varianzen aufweisen.</p>
<p>Sie messen die folgenden Abfertigungszeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad27{,}1\quad25{,}5\quad15{,}4\quad15\quad24{,}4\quad24{,}9\\
\textrm{Tanger}
&amp;:\quad8{,}8\quad14{,}6\quad26{,}2\quad24{,}7\quad20{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
