


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Kajiado und Baringo unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Ertragswerte (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad23{,}72\quad18{,}22\quad22{,}39\quad23{,}82\quad22{,}54\\
\textrm{Baringo}
&amp;:\quad24{,}5\quad19{,}55\quad25{,}81\quad27{,}25\quad22{,}54\quad26{,}17
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie einen Alphafehler
von 10%.</p>
