


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Ertragswerte in Elgeyo-Marakwet
eine kleinere Varianz aufweist als in Kericho.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad13{,}65\quad14{,}31\quad14{,}65\quad10{,}42\quad13{,}79\\
\textrm{Kericho}
&amp;:\quad14{,}56\quad16{,}29\quad11{,}04\quad14{,}72\quad18{,}69\quad15{,}84\quad14{,}35
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
