


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es besteht die Vermutung, dass die Anzahl der umgeladenen Container
pro Schiff in Genua stärker variieren als in Gioia Tauro.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad736\quad1155\quad770\quad1088\quad1114\quad1041\\
\textrm{Gioia Tauro} &amp;:\quad774\quad930\quad1078\quad931\quad769
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
