


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Liefervolumina für Honduras und Syrien
unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad22{,}2\quad13{,}94\quad15{,}08\quad19{,}22\quad23{,}53\quad17{,}23\quad16\\
\textrm{Syrien}
&amp;:\quad19{,}8\quad15{,}48\quad14{,}26\quad12{,}49\quad18{,}91\quad18{,}25
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
