


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Umschlagzahlen je
Schiff in İzmir konstanter sind (weniger streuen) als in Ashdod.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir} &amp;:\quad111\quad856\quad956\quad1005\quad1199\\
\textrm{Ashdod}
&amp;:\quad907\quad1797\quad1407\quad572\quad1289\quad1754
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
