


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Verteilung der Liefervolumina für Burkina
Faso eine kleinere Varianz aufweist als für Kambodscha.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad18{,}76\quad15{,}81\quad16{,}35\quad10{,}78\quad22{,}4\quad21{,}14\quad10{,}3\\
\textrm{Kambodscha}
&amp;:\quad8{,}11\quad20{,}71\quad13{,}64\quad9{,}24\quad21{,}53\quad5{,}53
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
