


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Ertragswerte in
Elgeyo-Marakwet eine größere Varianz aufweist als in West Pokot.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}57\quad13{,}94\quad23{,}98\quad12{,}78\quad21{,}38\quad16{,}25\quad9\\
\textrm{West Pokot}
&amp;:\quad14{,}34\quad14{,}74\quad11{,}22\quad22{,}41\quad16{,}88\quad13{,}34
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Alphafehler von 5% ist dabei akzeptabel.</p>
