


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Anzahl der
umgeladenen Container pro Schiff in Genua eine größere Varianz aufweist
als in Damiette.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad1172\quad1049\quad1603\quad563\quad576\quad943\\
\textrm{Damiette}
&amp;:\quad1436\quad752\quad1129\quad945\quad475\quad509
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
