


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es besteht die Vermutung, dass die Abfertigungszeiten in Valencia und
La Spezia unterschiedlich stark variieren.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad20{,}7\quad14{,}3\quad12{,}2\quad17{,}5\quad27{,}4\quad22{,}7\\
\textrm{La Spezia}
&amp;:\quad26{,}9\quad27{,}1\quad15{,}2\quad24\quad10{,}3\quad19{,}4
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
