


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jordanien
weniger variiert als für Burkina Faso.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jordanien}
&amp;:\quad10{,}15\quad16{,}97\quad10{,}02\quad13{,}21\quad14{,}61\quad13{,}26\quad12\\
\textrm{Burkina Faso}
&amp;:\quad12{,}65\quad17{,}22\quad10{,}85\quad10{,}55\quad8{,}77\quad8{,}39
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
