


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagswerte in Laikipia und Narok
unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad25{,}7\quad25\quad17{,}2\quad23\quad16{,}2\quad24{,}4\\
\textrm{Narok}
&amp;:\quad19{,}4\quad16{,}8\quad24{,}8\quad11{,}3\quad23{,}6\quad24{,}1
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
