


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
Haifa weniger konstant sind (stärker streuen) als in Port Said.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad1167\quad1439\quad1230\quad1329\quad907\quad892\\
\textrm{Port Said}
&amp;:\quad1238\quad1093\quad989\quad1309\quad1138\quad943\quad895
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 5% auftreten.</p>
