


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Niederschlagswerte
in Nakuru eine kleinere Varianz aufweist als in West Pokot.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad13\quad14{,}1\quad13{,}7\quad19{,}1\quad20{,}8\\
\textrm{West Pokot}
&amp;:\quad10{,}6\quad24{,}4\quad16{,}5\quad10{,}8\quad8\quad24{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
