


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Verteilungen der Containerzahlen je Schiff
in La Spezia und Genua unterschiedliche Varianzen aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia} &amp;:\quad910\quad1249\quad859\quad556\quad493\\
\textrm{Genua} &amp;:\quad899\quad373\quad865\quad854\quad664\quad1568
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
