


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jordanien
weniger konstant sind (stärker streuen) als für Senegal.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jordanien}
&amp;:\quad18{,}75\quad17{,}56\quad23{,}1\quad23{,}86\quad26{,}36\quad22{,}44\quad18{,}88\\
\textrm{Senegal}
&amp;:\quad19{,}81\quad23{,}72\quad18{,}26\quad19{,}07\quad20{,}23\quad17{,}16
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
