


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Liefervolumina für Kambodscha
und Tunesien unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad24{,}35\quad20{,}94\quad17{,}68\quad10{,}65\quad4{,}67\\
\textrm{Tunesien}
&amp;:\quad11{,}09\quad5{,}97\quad22{,}03\quad18{,}21\quad16{,}67\quad18{,}03\quad5{,}36
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
