


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Zeiten zwischen An- und Ablegen in Port Said eine kleinere Varianz
aufweist als in İzmir.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Port Said}
&amp;:\quad22\quad15{,}6\quad24{,}8\quad17{,}8\quad20{,}9\quad21{,}3\\
\textrm{İzmir} &amp;:\quad22{,}4\quad17\quad9{,}7\quad14{,}6\quad18{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
