


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Liegezeiten in Ashdod und Piräus unterschiedliche Varianzen
aufweisen.</p>
<p>Sie messen die folgenden Zeiten zwischen An- und Ablegen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad27{,}1\quad16{,}4\quad19{,}4\quad16\quad22{,}9\\
\textrm{Piräus}
&amp;:\quad16{,}2\quad22{,}2\quad24{,}4\quad12{,}1\quad13{,}9\quad17{,}3
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 10% auftreten.</p>
