


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Burkina
Faso weniger konstant sind (stärker streuen) als für Syrien.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad4{,}58\quad13{,}38\quad8{,}7\quad9{,}1\quad6{,}67\quad9{,}87\\
\textrm{Syrien}
&amp;:\quad9{,}86\quad11{,}02\quad12{,}71\quad16{,}43\quad14{,}39
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
