


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in West Pokot stärker
variieren als in Bomet.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad18{,}2\quad17{,}6\quad18{,}1\quad16{,}4\quad14{,}6\\
\textrm{Bomet}
&amp;:\quad15{,}5\quad16{,}1\quad17{,}8\quad14{,}8\quad17{,}1\quad16{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
