


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Zeiten zwischen An-
und Ablegen in Haifa stärker variieren als in Koper.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad25{,}9\quad21\quad18{,}2\quad25{,}1\quad22{,}2\quad25\\
\textrm{Koper}
&amp;:\quad21{,}1\quad22{,}9\quad24{,}8\quad17{,}2\quad22{,}1
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
