


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Ertragswerte in Turkana und Kericho
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Turkana}
&amp;:\quad20{,}57\quad20{,}45\quad21{,}01\quad18{,}83\quad21{,}45\quad18{,}08\quad24{,}16\\
\textrm{Kericho}
&amp;:\quad20{,}19\quad23{,}93\quad17{,}88\quad17{,}64\quad22{,}26
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
