


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Verteilung der Lieferungsmengen für
Papua-Neuguinea eine kleinere Varianz aufweist als für Tunesien.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad6{,}71\quad5{,}55\quad15{,}46\quad16{,}18\quad13{,}67\\
\textrm{Tunesien}
&amp;:\quad8{,}1\quad13{,}52\quad11{,}33\quad9{,}77\quad0{,}78\quad17{,}77
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Fehler 1. Art darf
dabei zu 5% auftreten.</p>
