


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Verteilungen der Ertragswerte in West
Pokot und Nakuru unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad22{,}04\quad21{,}58\quad19{,}51\quad16{,}86\quad21{,}11\quad20{,}12\\
\textrm{Nakuru}
&amp;:\quad20{,}54\quad21{,}38\quad19{,}33\quad19{,}46\quad19{,}76\quad17{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 10% auftreten.</p>
