


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilungen der Ertragswerte in Samburu und
Bomet unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad21{,}19\quad9{,}83\quad19{,}14\quad14{,}91\quad20{,}8\quad22{,}29\quad13{,}75\\
\textrm{Bomet}
&amp;:\quad19{,}28\quad20\quad18{,}87\quad22{,}6\quad19{,}86
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
