


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Zeiten zwischen An- und
Ablegen in Piräus weniger konstant sind (stärker streuen) als in
Valencia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus}
&amp;:\quad25{,}8\quad18{,}3\quad23{,}9\quad11{,}9\quad15{,}9\quad14{,}7\\
\textrm{Valencia}
&amp;:\quad26{,}3\quad16{,}8\quad26{,}4\quad21{,}5\quad22{,}5\quad27{,}4\quad17{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 5% als
Signifikanzniveau.</p>
