


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Abfertigungszeiten
in Algeciras eine größere Varianz aufweist als in Barcelona.</p>
<p>Sie messen die folgenden Zeiten zwischen An- und Ablegen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad23{,}5\quad17{,}1\quad19{,}8\quad18{,}6\quad23{,}6\quad16\\
\textrm{Barcelona}
&amp;:\quad19{,}8\quad20{,}6\quad23{,}1\quad14{,}3\quad17{,}9\quad16{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
