


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilungen der
Ertragsmengen in Uasin Gishu und Nandi unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Uasin Gishu}
&amp;:\quad17{,}52\quad17{,}35\quad19{,}97\quad16{,}54\quad18{,}41\quad25{,}48\\
\textrm{Nandi}
&amp;:\quad12{,}44\quad19{,}54\quad18{,}11\quad21{,}54\quad14{,}26\quad21{,}28\quad13{,}47
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
