


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Zeiten zwischen An-
und Ablegen in İzmir eine kleinere Varianz aufweist als in İstanbul.</p>
<p>Sie messen die folgenden Abfertigungszeiten (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir}
&amp;:\quad17{,}8\quad21{,}6\quad22{,}9\quad19{,}3\quad13{,}5\quad15{,}9\\
\textrm{İstanbul}
&amp;:\quad24{,}2\quad17{,}1\quad21\quad11{,}9\quad15{,}7\quad17\quad11{,}6
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
