


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Es wird vermutet, dass die Verteilung der Umschlagzahlen je Schiff in
Alexandria eine größere Varianz aufweist als in İstanbul.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Alexandria}
&amp;:\quad573\quad975\quad568\quad835\quad1244\quad911\\
\textrm{İstanbul} &amp;:\quad991\quad993\quad441\quad808\quad1073
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
