


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragswerte in
Elgeyo-Marakwet und Uasin Gishu unterschiedlich stark variieren.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad15{,}51\quad20{,}11\quad18{,}05\quad18{,}28\quad14{,}3\\
\textrm{Uasin Gishu}
&amp;:\quad20{,}49\quad13{,}91\quad17{,}75\quad18{,}65\quad14{,}83\quad17{,}05
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 10%.</p>
