


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Umschlagzahlen
je Schiff in Ashdod eine größere Varianz aufweist als in Genua.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad1254\quad762\quad970\quad1409\quad788\quad1250\\
\textrm{Genua}
&amp;:\quad1204\quad1045\quad661\quad997\quad1184\quad1289
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
