


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Verteilungen der Erträge in Narok und
Elgeyo-Marakwet unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad13{,}87\quad23{,}43\quad23{,}94\quad18{,}01\quad9{,}16\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad18{,}56\quad16{,}33\quad14{,}56\quad18{,}43\quad20{,}13\quad29{,}53
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 10% ist
dabei akzeptabel.</p>
