


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der
Liefervolumina für Malawi und Guatemala unterschiedliche Varianzen
aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Malawi}
&amp;:\quad14{,}02\quad5{,}72\quad14{,}2\quad2{,}78\quad16{,}96\quad8{,}47\quad20{,}69\\
\textrm{Guatemala}
&amp;:\quad13{,}46\quad20{,}35\quad13{,}91\quad19{,}24\quad15{,}03
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Alphafehler von 10% ist dabei akzeptabel.</p>
