


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Niederschlagswerte in Baringo stärker
variieren als in Kajiado.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad23{,}6\quad22{,}4\quad21\quad27\quad27{,}6\quad20{,}7\\
\textrm{Kajiado}
&amp;:\quad22{,}7\quad20{,}1\quad20{,}7\quad26{,}2\quad21{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Akzeptieren Sie eine Wahrscheinlichkeit von
5% für ein falsch-positives Ergebnis.</p>
