


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
Valencia und İzmir unterschiedlich stark variieren.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Valencia}
&amp;:\quad898\quad1362\quad791\quad769\quad897\quad1128\\
\textrm{İzmir} &amp;:\quad663\quad1093\quad989\quad1437\quad552\quad1302
\end{aligned}
\]</span></p>
<p>Testen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 10% für ein
falsch-positives Ergebnis.</p>
