


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagsmengen in Nakuru und
Bomet unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad18\quad17{,}5\quad25{,}4\quad19\quad23{,}2\quad18{,}8\\
\textrm{Bomet}
&amp;:\quad21{,}9\quad18{,}2\quad20{,}6\quad23{,}2\quad17\quad19{,}9\quad15{,}3
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 10% ist
dabei akzeptabel.</p>
