


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Erträge in Narok weniger variiert als in
Baringo.</p>
<p>Sie messen die folgenden Ertragsmengen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad21{,}68\quad15{,}34\quad13{,}14\quad14{,}07\quad23{,}82\quad17{,}64\quad18{,}85\\
\textrm{Baringo}
&amp;:\quad23{,}12\quad22{,}32\quad21{,}86\quad23{,}88\quad33{,}31\quad17{,}82
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Akzeptieren Sie eine
Wahrscheinlichkeit von 5% für ein falsch-positives Ergebnis.</p>
