


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Ertragswerte in
West Pokot und Elgeyo-Marakwet unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad14{,}87\quad17{,}18\quad14{,}31\quad19{,}78\quad15{,}43\quad12{,}25\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad15{,}6\quad18{,}67\quad21{,}88\quad17{,}76\quad13{,}94
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie dabei 10%
als Signifikanzniveau.</p>
