


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in
Elgeyo-Marakwet weniger konstant sind (stärker streuen) als in West
Pokot.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad28{,}5\quad26{,}7\quad21{,}6\quad24{,}4\quad19{,}2\quad33{,}3\\
\textrm{West Pokot}
&amp;:\quad28{,}9\quad17{,}9\quad28{,}5\quad30{,}9\quad22{,}1\quad27\quad21{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 5%.</p>
