


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Liefervolumina für Tunesien und Zimbabwe
unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad18{,}04\quad15{,}79\quad14{,}28\quad19{,}49\quad21{,}51\quad9{,}14\\
\textrm{Zimbabwe}
&amp;:\quad21{,}6\quad16{,}61\quad12{,}48\quad17{,}14\quad17{,}29\quad19{,}5
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 10%.</p>
