


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für
Aserbaidschan stärker variieren als für Burkina Faso.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Aserbaidschan}
&amp;:\quad15{,}35\quad15{,}33\quad21{,}32\quad24{,}47\quad15{,}33\quad20{,}65\\
\textrm{Burkina Faso}
&amp;:\quad19{,}41\quad24{,}82\quad17{,}24\quad21{,}6\quad24{,}05\quad16{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Ein Fehler 1. Art darf dabei zu 5% auftreten.</p>
