


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für
Kambodscha weniger variiert als für Malawi.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad6{,}67\quad14{,}73\quad13{,}84\quad17{,}04\quad14{,}04\quad17{,}83\\
\textrm{Malawi}
&amp;:\quad14{,}74\quad13{,}63\quad20{,}23\quad14{,}7\quad12{,}48\quad15{,}7\quad6{,}73
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 5%.</p>
