


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Trans-Nzoia weniger konstant sind (stärker streuen) als in
Elgeyo-Marakwet.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Trans-Nzoia}
&amp;:\quad19{,}9\quad18{,}1\quad18{,}1\quad19{,}2\quad14{,}9\quad17{,}8\\
\textrm{Elgeyo-Marakwet}
&amp;:\quad15{,}4\quad15{,}1\quad16{,}3\quad12{,}7\quad16{,}3\quad15{,}5
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Alphafehler von 5% ist dabei
akzeptabel.</p>
