


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Verteilungen der Zeiten zwischen An- und
Ablegen in Gioia Tauro und Alexandria unterschiedliche Varianzen
aufweisen.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad20{,}5\quad20{,}5\quad25\quad12{,}6\quad12{,}4\quad22{,}3\\
\textrm{Alexandria}
&amp;:\quad12{,}4\quad18{,}4\quad21{,}8\quad17{,}9\quad19{,}8\quad20{,}1\quad27{,}4
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
