


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen je Schiff in
Ashdod und Port Said unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Ashdod}
&amp;:\quad1541\quad969\quad1071\quad1526\quad733\quad833\quad771\\
\textrm{Port Said}
&amp;:\quad1099\quad1386\quad530\quad1781\quad989\quad1551
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Akzeptieren Sie eine
Wahrscheinlichkeit von 10% für ein falsch-positives Ergebnis.</p>
