


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es wird vermutet, dass die Verteilung der Ertragswerte in Baringo
eine kleinere Varianz aufweist als in Narok.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad19{,}35\quad24{,}31\quad21{,}46\quad16{,}32\quad19{,}19\quad26{,}05\\
\textrm{Narok}
&amp;:\quad16{,}37\quad28{,}72\quad15{,}58\quad15{,}81\quad20{,}74
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 5%.</p>
