


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Lieferungsmengen
für Papua-Neuguinea eine größere Varianz aufweist als für Syrien.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Papua-Neuguinea}
&amp;:\quad11{,}28\quad9{,}17\quad12{,}82\quad12{,}97\quad10{,}1\quad10{,}42\\
\textrm{Syrien}
&amp;:\quad12{,}47\quad12{,}25\quad13{,}61\quad13{,}4\quad12{,}68\quad14{,}13
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
