


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Lieferungsmengen für Tunesien weniger
konstant sind (stärker streuen) als für Aserbaidschan.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tunesien}
&amp;:\quad17{,}74\quad16{,}1\quad14{,}56\quad17{,}23\quad15{,}39\quad17{,}21\\
\textrm{Aserbaidschan}
&amp;:\quad17{,}58\quad20{,}07\quad19{,}25\quad19{,}12\quad18{,}14\quad16{,}89
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Akzeptieren Sie eine Wahrscheinlichkeit von 5% für ein
falsch-positives Ergebnis.</p>
