


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Bomet
konstanter sind (weniger streuen) als in Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad24{,}5\quad22{,}2\quad23{,}8\quad20{,}8\quad30{,}2\\
\textrm{Laikipia}
&amp;:\quad31{,}9\quad26\quad26\quad22{,}1\quad17{,}3\quad21{,}6
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
