


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
Mersin und Port Said unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Mersin}
&amp;:\quad1024\quad817\quad929\quad1184\quad791\quad701\quad968\\
\textrm{Port Said} &amp;:\quad452\quad819\quad818\quad1042\quad708
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
