


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Verteilung der Abfertigungszeiten in Gioia
Tauro eine größere Varianz aufweist als in Valencia.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Gioia Tauro}
&amp;:\quad8{,}9\quad16{,}7\quad13{,}3\quad13{,}2\quad19{,}4\\
\textrm{Valencia}
&amp;:\quad23{,}4\quad14{,}7\quad18{,}7\quad23{,}2\quad17{,}8\quad22
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
