


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Es besteht die Vermutung, dass die Erträge in Narok und Kericho
unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Ertragswerte (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad26{,}37\quad17{,}99\quad16{,}85\quad25{,}27\quad18{,}35\\
\textrm{Kericho}
&amp;:\quad34{,}99\quad25{,}14\quad21{,}98\quad25\quad20{,}23\quad25{,}07
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein <span class="math inline">\(\alpha\)</span> von 10%.</p>
