


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Aserbaidschan
und Nepal unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Liefervolumina (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Aserbaidschan}
&amp;:\quad8{,}18\quad7{,}59\quad12{,}98\quad8{,}63\quad13{,}29\quad12{,}78\\
\textrm{Nepal}
&amp;:\quad5{,}53\quad8{,}64\quad7{,}06\quad8{,}25\quad13{,}51\quad7{,}34\quad11{,}33
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
