


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liegezeiten in La
Spezia konstanter sind (weniger streuen) als in Valencia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad19{,}9\quad21{,}3\quad30{,}8\quad12{,}4\quad17{,}1\quad12{,}4\quad24{,}4\\
\textrm{Valencia}
&amp;:\quad29{,}4\quad10{,}1\quad15{,}7\quad24{,}8\quad13{,}8\quad12
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
