


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilung der Liefervolumina für
Burkina Faso eine kleinere Varianz aufweist als für Zimbabwe.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Burkina Faso}
&amp;:\quad21{,}59\quad17{,}22\quad19{,}78\quad19{,}1\quad26{,}21\quad14{,}53\quad18{,}29\\
\textrm{Zimbabwe}
&amp;:\quad21{,}03\quad15{,}45\quad17{,}28\quad20{,}55\quad25{,}08\quad14{,}04
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Fehler 1. Art darf dabei
zu 5% auftreten.</p>
