


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagsmengen in
Elgeyo-Marakwet stärker variieren als in West Pokot.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad16{,}6\quad17{,}4\quad9{,}1\quad13{,}1\quad17{,}7\\
\textrm{West Pokot}
&amp;:\quad20{,}8\quad16{,}3\quad21{,}6\quad21{,}4\quad24{,}2\quad17{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
