


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Liefervolumina für Kambodscha und
Nepal unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad16{,}14\quad24{,}66\quad16{,}1\quad13{,}17\quad18{,}74\quad15{,}65\\
\textrm{Nepal}
&amp;:\quad21{,}66\quad13{,}87\quad24{,}56\quad12{,}31\quad20{,}78
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
