


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Liefervolumina für Honduras und Nepal
unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Honduras}
&amp;:\quad18{,}8\quad17{,}23\quad9{,}23\quad14{,}17\quad8{,}15\\
\textrm{Nepal}
&amp;:\quad15{,}48\quad14{,}28\quad11{,}28\quad8{,}98\quad16{,}61\quad17{,}45
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
