


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Ihre Arbeitshypothese besagt, dass die Niederschlagswerte in Narok
weniger konstant sind (stärker streuen) als in West Pokot.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad16{,}8\quad27{,}2\quad25{,}6\quad16{,}7\quad15\quad20{,}1\quad13{,}6\\
\textrm{West Pokot}
&amp;:\quad15{,}3\quad27{,}1\quad21{,}7\quad25{,}7\quad19{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
