


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Es wird vermutet, dass die Verteilungen der Abfertigungszeiten in La
Spezia und Haifa unterschiedliche Varianzen aufweisen.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia}
&amp;:\quad21\quad26\quad15{,}6\quad23{,}6\quad22\quad15{,}4\quad14{,}9\\
\textrm{Haifa}
&amp;:\quad17{,}5\quad15{,}2\quad16{,}2\quad17{,}8\quad19{,}7\quad18{,}3
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 10%.</p>
