


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Sie vermuten, dass die Ertragsmengen in Baringo konstanter sind
(weniger streuen) als in Turkana.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad23{,}71\quad22{,}8\quad28{,}14\quad24{,}12\quad22{,}3\quad21{,}44\\
\textrm{Turkana}
&amp;:\quad19{,}82\quad20{,}67\quad24{,}14\quad22{,}93\quad26{,}73\quad23{,}29\quad19{,}96
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie einen Alphafehler von 5%.</p>
