


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es wird vermutet, dass die Zeiten zwischen An- und Ablegen in Genua
weniger konstant sind (stärker streuen) als in Damiette.</p>
<p>Sie erheben die folgenden Messreihen (in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad27{,}2\quad28{,}5\quad13{,}6\quad20{,}2\quad15{,}8\quad21{,}4\\
\textrm{Damiette}
&amp;:\quad23{,}3\quad17{,}5\quad22{,}1\quad18{,}6\quad15{,}9
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie dabei 5% als Signifikanzniveau.</p>
