


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Baringo und Kajiado unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad15{,}5\quad15\quad14{,}7\quad19{,}5\quad24{,}4\quad14{,}9\\
\textrm{Kajiado}
&amp;:\quad13{,}5\quad15\quad25{,}4\quad18{,}9\quad15{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
