


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Narok
weniger konstant sind (stärker streuen) als in West Pokot.</p>
<p>Sie erheben die folgenden Messreihen (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad16\quad21{,}6\quad14{,}7\quad22{,}4\quad7{,}6\\
\textrm{West Pokot}
&amp;:\quad21{,}9\quad24\quad17{,}8\quad20{,}9\quad21{,}1\quad20{,}1\quad26{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Alphafehler von 5% ist dabei
akzeptabel.</p>
