


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Ertragsmengen in Nandi eine kleinere Varianz aufweist als in
Kajiado.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nandi}
&amp;:\quad14{,}55\quad16{,}23\quad18{,}71\quad19{,}05\quad18{,}94\\
\textrm{Kajiado}
&amp;:\quad20{,}87\quad16{,}59\quad20{,}74\quad19{,}38\quad23{,}11\quad23{,}68
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Wählen Sie einen Alphafehler von 5%.</p>
