


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es wird vermutet, dass die Liefervolumina für Zimbabwe weniger
konstant sind (stärker streuen) als für Guatemala.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad12{,}68\quad18{,}67\quad17{,}28\quad20{,}49\quad15{,}66\quad19{,}57\\
\textrm{Guatemala}
&amp;:\quad17{,}87\quad16{,}25\quad19{,}83\quad19{,}3\quad20{,}17\quad20{,}57
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
