


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Lieferungsmengen
für Guatemala und Honduras unterschiedlich stark gestreut sind.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Guatemala}
&amp;:\quad15{,}33\quad16{,}28\quad14{,}24\quad9{,}84\quad13{,}35\quad10{,}51\\
\textrm{Honduras}
&amp;:\quad12{,}32\quad15{,}88\quad11{,}36\quad16{,}55\quad15{,}85\quad14{,}45\quad15{,}55
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Alphafehler von
10% ist dabei akzeptabel.</p>
