


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Liefervolumina für
Senegal weniger konstant sind (stärker streuen) als für Malawi.</p>
<p>Sie messen die folgenden Lieferungsmengen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad19{,}73\quad13{,}64\quad18{,}61\quad18{,}91\quad25{,}1\\
\textrm{Malawi}
&amp;:\quad22{,}88\quad21{,}65\quad18{,}59\quad14{,}16\quad19{,}72\quad15{,}12
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
