


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Abfertigungszeiten
in Haifa und Valencia unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa}
&amp;:\quad21{,}2\quad14{,}1\quad21{,}9\quad16{,}7\quad19{,}3\quad18{,}5\\
\textrm{Valencia}
&amp;:\quad15{,}3\quad19{,}4\quad16{,}6\quad18{,}7\quad17{,}5\quad21{,}8
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 10%.</p>
