


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Es wird vermutet, dass die Verteilung der Ertragsmengen in Narok eine
größere Varianz aufweist als in Bomet.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad14{,}28\quad13{,}45\quad20{,}07\quad18{,}51\quad17{,}07\quad14{,}77\\
\textrm{Bomet}
&amp;:\quad17{,}15\quad15{,}55\quad15{,}58\quad13{,}83\quad17{,}65\quad15{,}5\quad16{,}57
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
