


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
İzmir weniger variiert als in Marsaxlokk.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir}
&amp;:\quad635\quad1043\quad1415\quad357\quad1376\quad835\\
\textrm{Marsaxlokk}
&amp;:\quad906\quad634\quad1634\quad1502\quad1754\quad944\quad1315
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Wählen Sie dabei 5%
als Signifikanzniveau.</p>
