


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilungen der Liegezeiten
in Algeciras und Marsaxlokk unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Abfertigungszeiten (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Algeciras}
&amp;:\quad28{,}6\quad16{,}3\quad17{,}5\quad20\quad24{,}6\\
\textrm{Marsaxlokk}
&amp;:\quad24{,}5\quad26{,}5\quad24{,}2\quad10{,}4\quad14{,}2\quad28{,}5
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
