


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Verteilung der Niederschlagswerte in Samburu
eine kleinere Varianz aufweist als in Laikipia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Samburu}
&amp;:\quad22{,}8\quad21{,}4\quad29{,}4\quad25{,}2\quad24{,}1\quad18{,}7\\
\textrm{Laikipia}
&amp;:\quad16{,}5\quad18{,}1\quad24{,}5\quad16\quad21{,}7\quad15{,}7\quad34
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
