


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Ertragsmengen in
Nakuru stärker variieren als in Kericho.</p>
<p>Sie erheben die folgenden Messreihen (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Nakuru}
&amp;:\quad16{,}53\quad19{,}16\quad11{,}56\quad12{,}82\quad19{,}77\quad16{,}29\\
\textrm{Kericho}
&amp;:\quad11{,}83\quad16{,}44\quad17{,}94\quad14{,}21\quad15{,}06\quad15{,}43
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie ein
Signifikanzniveau von 5%.</p>
