


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Sie vermuten, dass die Niederschlagswerte in Elgeyo-Marakwet stärker
variieren als in Trans-Nzoia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad25\quad20{,}1\quad26{,}2\quad18{,}4\quad14{,}4\quad28{,}7\\
\textrm{Trans-Nzoia}
&amp;:\quad18{,}8\quad20{,}5\quad22{,}4\quad21{,}6\quad22{,}7
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Ein Signifikanzniveau
von 5% ist dabei akzeptabel.</p>
