


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Es wird vermutet, dass die Umschlagzahlen je Schiff in Damiette und
Piräus unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen je Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Damiette}
&amp;:\quad1488\quad1162\quad718\quad1363\quad1022\quad1386\\
\textrm{Piräus} &amp;:\quad1459\quad892\quad1701\quad1162\quad1423
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Signifikanzniveau von 10% ist dabei
akzeptabel.</p>
