


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Sie vermuten, dass die Liegezeiten in Tanger konstanter sind (weniger
streuen) als in Valencia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad19{,}1\quad11{,}8\quad26{,}8\quad30{,}8\quad9{,}1\quad13{,}7\quad27{,}1\\
\textrm{Valencia}
&amp;:\quad27{,}5\quad33{,}3\quad16\quad17{,}2\quad12{,}6
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
