


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Verteilungen der Liefervolumina für Jemen und
Tunesien unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Messreihen (in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad5{,}02\quad4{,}99\quad9{,}7\quad12{,}77\quad6{,}29\quad10{,}2\\
\textrm{Tunesien}
&amp;:\quad12{,}25\quad6{,}4\quad13{,}83\quad11{,}94\quad17{,}78\quad15{,}73
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Alphafehler von 10% ist
dabei akzeptabel.</p>
