


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Anzahl der
umgeladenen Container pro Schiff in La Spezia und İstanbul
unterschiedlich stark variieren.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Umschlagzahlen pro Schiff
(in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{La Spezia} &amp;:\quad845\quad1105\quad1587\quad920\quad854\\
\textrm{İstanbul}
&amp;:\quad1256\quad970\quad1001\quad1285\quad1336\quad1054
\end{aligned}
\]</span></p>
<p>Testen Sie. Wählen Sie dabei 10% als Signifikanzniveau.</p>
