


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für den Ertrag von Maisfeldern.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragswerte in Baringo und
Nandi unterschiedlich stark variieren.</p>
<p>Sie messen die folgenden Erträge (in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Baringo}
&amp;:\quad18{,}11\quad18{,}09\quad21{,}45\quad23{,}52\quad15{,}37\quad25{,}03\\
\textrm{Nandi}
&amp;:\quad12{,}42\quad15{,}58\quad21{,}04\quad24{,}67\quad17{,}61\quad22{,}5
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Wählen Sie dabei 10% als
Signifikanzniveau.</p>
