


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Lieferungsmengen für Jemen und
Aserbaidschan unterschiedlich stark variieren.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Jemen}
&amp;:\quad11{,}61\quad18{,}88\quad16{,}87\quad3{,}11\quad18{,}59\quad16{,}96\quad19{,}57\\
\textrm{Aserbaidschan}
&amp;:\quad16{,}62\quad15{,}54\quad1{,}11\quad8{,}41\quad12{,}96\quad8{,}63
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Alphafehler von 10% ist dabei
akzeptabel.</p>
