


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der
Niederschlagswerte in West Pokot und Kericho unterschiedliche Varianzen
aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad19{,}7\quad11{,}1\quad14\quad14{,}4\quad21{,}9\quad11{,}6\\
\textrm{Kericho}
&amp;:\quad20{,}2\quad17{,}3\quad23{,}9\quad21{,}3\quad23{,}8\quad20{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 10%.</p>
