


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Ertragsmengen
in Bomet eine größere Varianz aufweist als in Nakuru.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad19{,}42\quad14{,}1\quad16{,}21\quad15{,}68\quad15{,}22\quad17{,}57\\
\textrm{Nakuru}
&amp;:\quad17{,}51\quad19{,}42\quad17{,}05\quad18{,}94\quad20{,}66\quad18{,}3\quad17{,}45
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
