


<p>Sie sind beauftragt, den Maisanbau in der Rift Valley Region in Kenia
zu untersuchen. Dabei sind die Ertragswerte der Betriebe von
Interesse.</p>
<p>Ihre Arbeitshypothese besagt, dass die Ertragsmengen in Bomet weniger
konstant sind (stärker streuen) als in Nakuru.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
dt/ha):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad24{,}16\quad20{,}81\quad23{,}13\quad21{,}14\quad19{,}96\quad19{,}54\quad20{,}16\\
\textrm{Nakuru}
&amp;:\quad17{,}24\quad20{,}23\quad16{,}16\quad17{,}33\quad19{,}62\quad16{,}76
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Ein Signifikanzniveau von 5%
ist dabei akzeptabel.</p>
