


<p>Sie sind beauftragt, die Abfertigungszeiten von kleineren
Mittelmeerhäfen zu untersuchen. Die Zeit, die zwischen Ankunft und
Abfahrt eines Schiffes während Be- und Entladearbeiten verstreicht, wird
als Liegezeit bezeichnet.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der
Abfertigungszeiten in İzmir und Marsaxlokk unterschiedliche Varianzen
aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{İzmir}
&amp;:\quad22{,}2\quad17{,}4\quad22{,}6\quad17{,}1\quad14\quad13{,}2\\
\textrm{Marsaxlokk}
&amp;:\quad17{,}6\quad27\quad19\quad21{,}7\quad18{,}2\quad19{,}2\quad27
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie ein Signifikanzniveau von 10%.</p>
