


<p>In der Frachtschifffahrt wird das Umschlagvolumen von Containern in
„twenty-foot equivalent units“ (TEU) gemessen. Sie interessieren sich
für die Anzahl der umgeschlagenen Container pro Feeder-Schiff in
Mittelmeerhäfen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der Anzahl der
umgeladenen Container pro Schiff in Haifa eine größere Varianz aufweist
als in Piräus.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Haifa} &amp;:\quad754\quad1262\quad882\quad636\quad1007\\
\textrm{Piräus}
&amp;:\quad891\quad1158\quad815\quad533\quad795\quad742\quad647
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 5%.</p>
