


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Lieferungsmengen für Kambodscha
und Syrien unterschiedlich stark gestreut sind.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Lieferungsmengen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kambodscha}
&amp;:\quad16{,}49\quad16{,}12\quad4{,}64\quad29{,}46\quad21{,}72\quad14{,}34\\
\textrm{Syrien}
&amp;:\quad16{,}88\quad9{,}51\quad21{,}03\quad9{,}93\quad15{,}73\quad8{,}9
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Wählen Sie einen Alphafehler von 10%.</p>
