


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagsmengen
in Elgeyo-Marakwet weniger konstant sind (stärker streuen) als in
Baringo.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Elgeyo-Marakwet}
&amp;:\quad21{,}9\quad23{,}6\quad14{,}1\quad11{,}7\quad22{,}3\quad18{,}9\quad17{,}1\\
\textrm{Baringo}
&amp;:\quad22{,}2\quad19{,}9\quad22{,}9\quad25{,}4\quad19{,}2
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
