


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Niederschlagswerte
in Laikipia und Kericho unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Niederschlagswerte (in mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Laikipia}
&amp;:\quad18{,}5\quad29{,}4\quad27{,}2\quad26{,}9\quad24{,}8\quad20{,}7\quad20{,}3\\
\textrm{Kericho}
&amp;:\quad15{,}6\quad23{,}3\quad18{,}9\quad25{,}3\quad27\quad25{,}7
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 10%
auftreten.</p>
