


<p>In einer Untersuchung zu Landwirtschaft in der Region Rift Valley in
Kenia interessieren Sie sich für die wöchentlichen Niederschlagsmengen
während der Maissaison.</p>
<p>Es wird vermutet, dass die Verteilungen der Niederschlagsmengen in
Bomet und Kericho unterschiedliche Varianzen aufweisen.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagsmengen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Bomet}
&amp;:\quad30{,}1\quad22{,}4\quad27{,}1\quad27{,}3\quad26{,}3\quad25{,}2\\
\textrm{Kericho}
&amp;:\quad20{,}2\quad21{,}9\quad22{,}7\quad17{,}8\quad17\quad21{,}5\quad13{,}3
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Entscheiden Sie sich für
ein Signifikanzniveau von 10%.</p>
