


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Die Vermutung wird an Sie herangetragen, dass die Verteilung der
Niederschlagsmengen in West Pokot eine größere Varianz aufweist als in
Trans-Nzoia.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{West Pokot}
&amp;:\quad23{,}2\quad23\quad29{,}6\quad24{,}4\quad25{,}2\quad16{,}4\\
\textrm{Trans-Nzoia}
&amp;:\quad20{,}9\quad24{,}4\quad23{,}4\quad24\quad19{,}4\quad24{,}2
\end{aligned}
\]</span></p>
<p>Prüfen Sie die Vermutung. Ein Fehler 1. Art darf dabei zu 5%
auftreten.</p>
