


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Ihre Arbeitshypothese besagt, dass die Umschlagzahlen pro Schiff in
Piräus weniger konstant sind (stärker streuen) als in Tanger.</p>
<p>Sie erheben die folgenden Messreihen (in TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Piräus} &amp;:\quad870\quad1720\quad1128\quad1202\quad1435\\
\textrm{Tanger} &amp;:\quad1258\quad861\quad729\quad565\quad957\quad369
\end{aligned}
\]</span></p>
<p>Testen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
5%.</p>
