


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Sie vermuten, dass die Lieferungsmengen für Syrien und Burkina Faso
unterschiedlich stark gestreut sind.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Syrien}
&amp;:\quad19{,}82\quad21{,}18\quad17{,}38\quad16{,}39\quad13{,}79\quad15{,}89\\
\textrm{Burkina Faso}
&amp;:\quad13{,}41\quad13{,}64\quad18{,}18\quad17{,}94\quad13{,}45
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie ein
Signifikanzniveau von 10%.</p>
