


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Ihre Arbeitshypothese besagt, dass die Verteilung der
Lieferungsmengen für Senegal eine größere Varianz aufweist als für
Malawi.</p>
<p>Bei Zufallsstichproben erheben Sie die folgenden Messreihen (in Tsd.
Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Senegal}
&amp;:\quad8{,}51\quad20{,}04\quad15{,}92\quad12{,}2\quad12{,}26\quad9{,}69\\
\textrm{Malawi}
&amp;:\quad15{,}02\quad18{,}29\quad12{,}26\quad19{,}18\quad21{,}89
\end{aligned}
\]</span></p>
<p>Testen Sie. Ein Signifikanzniveau von 5% ist dabei akzeptabel.</p>
