


<p>Sie untersuchen, wie viele Container umgeladen werden, wenn
Feeder-Schiffe Häfen im Mittelmeer anlaufen. Container werden dabei in
„twenty-foot equivalent units“ (TEU) gezählt.</p>
<p>Sie vermuten, dass die Umschlagzahlen je Schiff in Tanger weniger
variiert als in La Spezia.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
TEU):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Tanger}
&amp;:\quad972\quad687\quad684\quad987\quad1127\quad1057\\
\textrm{La Spezia} &amp;:\quad1067\quad1094\quad877\quad1529\quad828
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Verfahren durch. Entscheiden Sie sich für ein
Signifikanzniveau von 5%.</p>
