


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Es besteht die Vermutung, dass die Niederschlagswerte in Kajiado und
Trans-Nzoia unterschiedlich stark gestreut sind.</p>
<p>Die folgenden Werte werden im Rahmen der Untersuchung gemessen (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Kajiado}
&amp;:\quad24\quad19{,}8\quad15{,}3\quad26{,}2\quad19{,}4\\
\textrm{Trans-Nzoia}
&amp;:\quad21\quad22{,}7\quad18{,}4\quad14{,}6\quad16{,}5\quad24{,}9
\end{aligned}
\]</span></p>
<p>Führen Sie das passende Testverfahren durch. Wählen Sie einen
Alphafehler von 10%.</p>
