


<p>Sie sind beauftragt, die Bedingungen für den Maisanbau in der Rift
Valley Region in Kenia zu untersuchen. Dabei sind die wöchentlichen
Niederschlagsmengen während der Hauptsaison von Interesse.</p>
<p>Sie vermuten, dass die Niederschlagsmengen in Narok weniger variiert
als in Trans-Nzoia.</p>
<p>Eine Zufallsstichprobe ergibt jeweils diese Niederschlagswerte (in
mm):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Narok}
&amp;:\quad24{,}2\quad17\quad21{,}8\quad17{,}4\quad18{,}8\quad18{,}2\quad18{,}1\\
\textrm{Trans-Nzoia}
&amp;:\quad24{,}9\quad21{,}9\quad22{,}3\quad21{,}9\quad22{,}8\quad16{,}2
\end{aligned}
\]</span></p>
<p>Finden Sie heraus, ob die Vermutung stimmt. Wählen Sie einen
Alphafehler von 5%.</p>
