


<p>Die Europäische Union betreibt ein Hilfsprogramm, bei dem Länder ohne
eigene Produktionsanlagen mit “6-Fach-Impfstoff” gegen Polio, Diphterie,
Tetanus und andere Krankheiten beliefert werden. Mangels aktueller
Zahlen führen Sie eine Untersuchung in einem Logistikunternehmen durch,
das das Programm abwickelt. Dafür ziehen Sie die monatlichen
Liefermengen für Länder mit vergleichbaren Einwohner*innenzahlen
heran.</p>
<p>Es besteht die Vermutung, dass die Verteilungen der Liefervolumina
für Zimbabwe und Senegal unterschiedliche Varianzen aufweisen.</p>
<p>Sie erheben die folgenden Werte im Rahmen von zwei Zufallsstichproben
(in Tsd. Dosen):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Zimbabwe}
&amp;:\quad16{,}69\quad9{,}39\quad15{,}06\quad12{,}47\quad16{,}56\quad8{,}05\quad16{,}48\\
\textrm{Senegal}
&amp;:\quad10{,}35\quad10{,}26\quad12{,}13\quad16{,}46\quad11{,}05\quad9{,}24
\end{aligned}
\]</span></p>
<p>Prüfen Sie. Entscheiden Sie sich für ein Signifikanzniveau von
10%.</p>
