


<p>In der Frachtschifffahrt bezeichnet die Liegezeit die Zeit, die
zwischen Ankunft und Abfahrt eines Schiffes während Be- und
Entladearbeiten verstreicht. Sie möchten die Liegezeiten von kleineren
Containerschiffen in Mittelmeerhäfen untersuchen.</p>
<p>Ihre Arbeitshypothese besagt, dass die Abfertigungszeiten in Genua
und İzmir unterschiedlich stark gestreut sind.</p>
<p>Sie messen die folgenden Zeiten zwischen An- und Ablegen (in
Stunden):</p>
<p><span class="math display">\[
\begin{aligned}
\textrm{Genua}
&amp;:\quad10{,}5\quad16\quad20{,}4\quad13{,}6\quad20{,}6\\
\textrm{İzmir}
&amp;:\quad14{,}2\quad15{,}4\quad19{,}8\quad17{,}8\quad20{,}1\quad14{,}4
\end{aligned}
\]</span></p>
<p>Führen Sie ein entsprechendes Verfahren durch. Entscheiden Sie sich
für ein Signifikanzniveau von 10%.</p>
