<template>
  <h1>Impressum</h1>
  Verantwortlich für die Inhalte dieser Seiten ist
  <p>
    Till Straube<br>
    <a href="mailto:straube@geo.uni-frankfurt.de">straube@geo.uni-frankfurt.de</a><br>
    Institut für Humangeographie, 2.G008<br>
    Goethe-Universität Frankfurt<br>
    60629 Frankfurt am Main
  </p>
  <h1>Datenschutzerklärung</h1>
  <p>
    Durch Aufrufen dieser Seiten können vom Webhost personenbezogene Daten (wie IP-Adresse, Browser-Informationen und Zeitpunkt des Zugriffs) routinemäßig gespeichert werden.
    Alle Inhalte sind gehostet bei:
  </p>
  <p>
    Hochschulrechenzentrum<br>
    Goethe-Universität Frankfurt<br>
    60629 Frankfurt am Main
  </p>
  <p>Darüber hinaus benutzt diese Seite keine Cookies und speichert keine funktionalen Nutzer*innendaten ab.</p>
  <p>Verantwortlich für den Datenschutz ist:</p>
  <p>
    Till Straube<br>
    <a href="mailto:straube@geo.uni-frankfurt.de">straube@geo.uni-frankfurt.de</a><br>
    Institut für Humangeographie, 2.G008<br>
    Goethe-Universität Frankfurt<br>
    60629 Frankfurt am Main
  </p>
</template>

<style>
</style>
