<template>
  <h1>Feedback</h1>
  <p>Ich freue mich über jegliches Feedback!</p>
  <p>
    Till Straube<br>
    <a href="mailto:straube@geo.uni-frankfurt.de">straube@geo.uni-frankfurt.de</a><br>
  </p>
</template>

<style>
</style>
