<script setup lang="ts">
</script>

<template>
  <h1>Übungsaufgaben</h1>
  <fieldset>
    <legend>Aufgabentypen auswählen:</legend>
    <input type="checkbox" id="f_test" name="F-Tests" checked>
    <label for="f_test">F-Tests</label>
  </fieldset>
  <button @click="show">Aufgabe anzeigen</button>
</template>

<style scoped>
  label {
    margin-left: 1rem;
  }
  fieldset {
    margin-bottom: 2rem;
  }
</style>

