html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  --goethe-blue:#00618F;
  --light-gray:#f8f6f5;
  --sand-gray:#e4e3dd;
  --dark-gray:#4d4b46;
  --purple:#860047;
  --emo-red:#b3062c;
  --mustard-yellow:#e3ba0f;
  --green:#737c45;
  --magenta:#ad3b76;
  --orange:#c96215;
  --sun-yellow:#f7d926;
  --light-green:#a5ab52;
  --light-blue:#48a9da;
}

a {
  text-decoration: none;
  color: var(--goethe-blue);
  transition: 0.4s;
}

a:hover {
  text-decoration: underline;
  transition: 0.4s;
}

a.router-link-active {
  color: inherit;
}

.small {
  font-size: 0.8rem;
}

button {
  border-radius: 0;
  border: 1px solid var(--sand-gray);
  background-color: var(--light-gray);
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}


button:hover {
  background-color: var(--sand-gray);
}
