<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <div class="bar">
      <div>Statistische Verfahren in der Geographie: Übungsaufgaben</div>
    </div>
    <nav>
      <ul>
        <li><RouterLink to="/">Aufgaben</RouterLink></li>
        <li><a href="/">Skript</a></li>
        <li><RouterLink to="/feedback">Feedback</RouterLink></li>
      </ul>
    </nav>
  </header>

  <main>
    <RouterView />
  </main>

  <footer class="small">
    <ul>
      <li><RouterLink to="/about">Datenschutz und Impressum</RouterLink></li>
      <li>Eine <a href="#">truepasta</a>-Anwendung</li>
      <li>Entwicklung unterstützt von <a href="#">DigiTeLL</a></li>
    </ul>
  </footer>
</template>

<style scoped>
footer, header .bar {
  padding: 1em 0;
  background-color: var(--light-gray);
  border-color: var(--sand-gray)
}

main, header .bar > div, footer > ul, nav > ul {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

header .bar {
  font-weight: 700;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav {
  margin: 1rem 0;
}

footer {
  border-top-width: 1px;
  border-top-style: solid;
}

footer ul, nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}
</style>
